
.app {

	text-align: center;
	font-family: 'Varela Round';
	transition: 0.1s;

	--green: #00AA22;
	--pale-green: #89D494;
	--palest-green: #F9FFFB;

	--red: #AA2200;
	--pale-red: #D49489;
	--palest-red: #FBF5F3;

	--purple: #AA0088;

	--blue: #0088AA;

	--tan: #AA8800;

	--amber: #DD8800;

	--palest-grey: #F5F5F5;
	--light-grey: #E9E9E9;
	--grey: #DDDDDD;
	--dark-grey: #B6B6B6;
	--pale-black: #888888;


	--text: 'Oxygen';
	--titles: 'Varela Round';

}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	color: var(--blue);
	text-decoration: underline;
}

body {
	background: var(--light-grey);
	color: #333333;
}

.backdrop {
	position: fixed;
	top: -100vh;
	right: -100vw;
	left: -100vw;
	bottom: -100vh;
	background: #e9ebe7;
}

::-webkit-scrollbar { 
	display: none;
}

.textlink {
	display: inline-block;
	padding: 0.2rem 0.3rem;
	line-height: 1rem;
	color: var(--green) !important;
	cursor: pointer;
	border: 0.1rem solid var(--green);
	border-radius: 100px 100px;
}

.textlink:hover {
	color: white !important;
	background: var(--green);
}

textarea:focus {
	outline: none;
}

button:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.material-icons {
	font-size: inherit;
	vertical-align: middle;
}

p {
	line-height: 1.5rem;
	padding: 0;
	margin: 0;
}



/* ICONS */

.fas {
	box-sizing: content-box;
}





/* MAIN */

.podium {
	background: var(--grey);
	min-height: 100vh;
}



.master-layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.sidebar {
	flex-basis: 25%;
}

.sidebar-column {
	position: fixed;
	top: 0;
	height: 100vh;
}

.sidebar-left {
	left: 0;
}

.sidebar-right {
	right: 0;
}

.content-holder {
	display: flex;
	flex-grow: 1;
	flex-basis: 50%;
	align-items: stretch;
}

.content-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.content {
	display: flex;
	flex-basis: 100%;
	flex-grow: 1;
	flex-direction: column;
}

.content-row {
    display: flex;
    flex-direction: column;
}

.content-firm {
	display: block;
}

.content-core {
	flex-grow: 1;
}

.card {
	display: block;
	box-shadow:
		0 0 0.4rem 0 rgba(0, 0, 0, 0.1),
		0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
	border: 0;
	border-radius: 0;
	z-index: 10;
	transition: box-shadow 0.3s ease-out;
}

.hover-card:hover {
	box-shadow:
		0 0.2rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1),
		0 0.8rem 1.0rem 0 rgba(0, 0, 0, 0.1);
}

.footer-spacer {
	width: 100%;
	align-self: flex-end;
	margin-bottom: 2rem;
}

.footer-text {
	position: sticky;
	bottom: 2rem;
	padding-top: 2rem;
}

.background-text {
	width: 100%;
	color: white;
	font-family: var(--titles);
	font-size: 1.4rem;
	cursor: default;
}





/* BUTTONS */

/*.def-button {
	display: block;
	margin: auto;
	margin-top: 4%;
	height: 7%;
	min-width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 2px solid;
	border-radius: 500px 500px;
	background: white;
	cursor: pointer;
	font-size: 110%;
	font-family: var(--titles);
	letter-spacing: .1rem;
	line-height: 2.0rem;
	white-space: nowrap;
}

.def-button:hover {
	transition-property: color, background;
	transition-duration: 0.4s;
}

.green-button {
	border-color: var(--green);
	color: var(--green);
}

.green-button:hover {
	background: var(--green);
	color: white;
}

.red-button {
	border-color: var(--red);
	color: var(--red);
}

.red-button:hover {
	background: var(--red);
	color: white;
}

.grey-button {
	display: inline-block;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
	border-color: var(--grey);
	color: var(--grey);
	cursor: not-allowed;
}

.back-button {
	margin-top: 12%;
}*/





/* DEMO MENU */

.demo-label {
	position: fixed;
	left: 0;
	right: 0;
	top: 0.5rem;
	color: var(--red);
	font-size: 0.8rem;
	font-weight: bold;
	cursor: default;
}

.demo-disclaimer {
	position: absolute;
	left: 20vw;
	right: 20vw;
	bottom: 0.5rem;
	font-size: 0.75rem;
	color: var(--dark-grey);
	z-index: 3;
	cursor: default;
}


.demo-button {
	position: fixed;
	display: block;
	right: 0.7rem;
	bottom: 0.7rem;
	min-width: 2.2rem;
	height: 2.2rem;
	text-align: center;
	line-height: 2.2rem;
	border-radius: 1.1rem;
	cursor: pointer;
	font-family: var(--titles);
	color: var(--red);
}

.demo-button:hover {
	background: var(--red);
	color: white;
}

.demo-menu {
	position: fixed;
	bottom: 3.3rem;
	border-radius: 2rem 0 0 0;
	min-width: 14%;
	max-width: 20%;
	transition: right 0.4s ease;
}

.demo-menu-open {
	right: 0;
}

.demo-menu-closed {
	right: -21%;
}

.demo-button-icon {
	width: 2.2rem;
	line-height: 2.2rem;
}

.demo-button-text {
	display: inline-block;
	font-family: var(--titles);
	font-size: 85%;
	margin-left: 0.8rem;
}

.demo-menu-title {
	width: 100%;
	top: 0;
	margin: 0;
	padding: 1rem;
	padding-top: 0.7rem;
	padding-bottom: 0.4rem;
	border-radius: 1.5rem 0 0 0;
	line-height: 1rem;
	background: var(--red);
	color: white;
	font-family: var(--titles);
	text-align: left;
	cursor: default;
}

.demo-menu-close {
	position: absolute;
	top: 0.5rem;
	right: 0.4rem;
	width: 1.3rem;
	height: 1.3rem;
	line-height: 1.3rem;
	color: white;
	cursor: pointer;
}

.demo-menu-close:hover {
	background: white;
	color: var(--red);
}

.demo-menu-item {
	margin: 0;
	height: 2.4rem;
	border-top: 2px solid var(--red);
	padding-left: 0.7rem;
	text-align: left;
	font-size: 90%;
	font-weight: normal;
	font-family: var(--titles);
	line-height: 2.4rem;
}

.demo-menu-text {
	display: inline-block;
	float: left;
	line-height: 2.4rem;
	cursor: default;
}

.demo-menu-button {
	display: inline-block;
	height: calc(2.4rem - 2px);
	float: right;
	border: 0;
	margin: 0;
	padding: 0 0.3rem;
	border-left: 1px solid var(--red);
	cursor: pointer;
}

.demo-menu-icon {
	padding-right: 0.6rem;
	transform: translate(0,0.05rem);
}

.demo-menu-option {
	cursor: pointer;
}

.demo-menu-option:hover, .demo-menu-button:hover  {
	background: var(--pale-red);
	color: white;
}

.demo-loader-holder {
	position: absolute;
	left: -2.4rem;
	top: 0.2rem;
}

.demo-loader {
	color: var(--red);
	animation: spin 3s infinite ease-in-out;
}





/* LOBBY */

.lobby-box {
	display: flex;
	height: 100vh;
	padding-bottom: 10%;
}

.title-box {
	position: absolute;
	top: 15%;
	left: 10%;
	right: 10%;
	bottom: 19%;
}

.lobby {
	max-height: 100vh;
	overflow: hidden;
}

.lobby-image {
	width: 100%;
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
}

.lobby-image-top {
	position: relative;
	display: block;
	width: 100%;
	height: 40vh;
	margin: auto;
	z-index: 1;
}

.lobby-image-bottom {
	display: block;
	width: 100%;
	height: 18vh;
	margin-top: 4vh;
	z-index: 1;
}

.lobby-logo-compass {
	height: 40vh;
	width: 40vh;
	margin: auto;
}

.lobby-icon-holder {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 4vh;
}

.lobby-logo-icon {
	height: 32vh;
	width: auto;
	margin: auto;
	animation: compass 14s infinite ease-in-out;
	filter: blur(0.1px);
}

.lobby-logo-text {
	height: 16vh;
	width: auto;
	margin: auto;
}

@keyframes compass {
	0% {
		transform: rotate(-4.0deg);
	}
	8% {
		transform: rotate(1.0deg);
	}
	20% {
		transform: rotate(-1.5deg);
	}
	32% {
		transform: rotate(2.0deg);
	}
	40% {
		transform: rotate(-2.0deg);
	}
	50% {
		transform: rotate(4.0deg);
	}
	60% {
		transform: rotate(-1.0deg);
	}
	68% {
		transform: rotate(1.5deg);
	}
	82% {
		transform: rotate(-2.0deg);
	}
	90% {
		transform: rotate(2.0deg);
	}
	100% {
		transform: rotate(-4.0deg);
	}
}


.home-hud-button {
	position: absolute;
	left: 0.8rem;
	bottom: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.3rem;
	cursor: pointer;
	color: var(--dark-grey);
}

.home-hud-button:hover {
	background: var(--green);
	color: white;
}

.about-hud-button {
	position: absolute;
	right: 0.8rem;
	bottom: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.4rem;
	cursor: pointer;
	color: var(--dark-grey);
}

.about-hud-button:hover {
	background: var(--green);
	color: white;
}




/* SIGN IN */

.signin {
	position: absolute;
	top: 0.6rem;
	right: 0.7rem;
	padding: 0.5rem;
	min-width: 7.4rem;
	min-height: 2.6rem;
	border-radius: 0 0 0 2rem;
	z-index: 11;
}

.signin-capture {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	z-index: 1;
}

.signin-capture-open {
	width: 20rem;
	height: 15rem;
}

.signin-capture-closed {
	width: 15rem;
	height: 10rem;
}

.signin-button {
	position: absolute;
	width: 2rem;
	height: 2rem;
	left: -2.5rem;
	top: 0.3rem;
	border-radius: 1rem;
	color: var(--grey);
	cursor: not-allowed;
	transition:
		opacity 0.2s ease-in-out 0.18s,
		color 0.2s ease-in-out,
		background 0.2s ease-in-out;
}

.signin-button-hide {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.signin-button-on {
	color: var(--green);
	background: white;
	cursor: pointer;
}

.signin-button-on:hover {
	background: var(--green);
	color: white;
}

.signin-button-loading {
	color: var(--green);
	cursor: progress;
}

.signin-button-error {
	background: var(--red);
	color: white;
	transition: 0;
}

.signin-button-off {
}

.signin-button-icon {
	width: 2rem;
	line-height: 2rem;
}


.signin-icon-holder {
	position: absolute;
	right: 0.8rem;
	top: 0.3rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: text;
	pointer-events: none;
}

.signin-icon-holder-open {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.signin-icon-holder-closed {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.36s;
}

.signin-icon {
	margin-left: 0.8rem;
	font-size: 110%;
	transform: translate(0, 0.05rem);
}

.signin-box {
	display: block;
	margin-top: 0.3rem;
	margin-right: 0.4rem;
	height: 1.8rem;
	font-size: 120%;
	font-family: var(--titles);
	line-height: 2rem;
	padding: 0 0.3rem;
	border: 0;
	border-bottom: 1px solid var(--grey);
}

.signin-box-empty {
	border-color: var(--grey);
}

.signin-box-filled {
	border-color: transparent;
}

.signin-box-id {
	color: var(--green);
}

.signin-box-id:hover {
	border-color: var(--green);
}

.signin-box-id::placeholder {
	color: var(--pale-green);
}

.signin-box-id.signin-box-filled:hover {
	border-color: var(--green);
}

.signin-box-password {
	color: var(--dark-grey);
}

.signin-box-password:hover {
	border-color: var(--dark-grey);
}

.signin-box-password::placeholder {
	color: var(--grey);
}

.signin-box-password.signin-box-filled:hover {
	border-color: var(--dark-grey);
}

.signin-box-error {
	color: var(--red);
	border-color: var(--pale-red);
}

.signin-at {
	position: absolute;
	top: 0.55rem;
	left: 0rem;
	font-size: 130%;
	font-family: var(--titles);
	font-weight: bold;
	cursor: text;
}

.signin-at-on {
	color: var(--green);
}

.signin-at-off {
	color: var(--pale-green);
}

.signin-at-error {
	color: var(--red);
}

.signin-box-open {
	width: 10rem;
	height: 1.8rem;
	margin-left: 1.4rem;
	margin-bottom: 0.2rem;
	opacity: 1.0;
	transition:
		width 0.2s ease-in-out 0s,
		margin-left 0.2s ease-in-out 0s,
		height 0.2s ease-in-out 0.18s,
		margin-bottom ease-in-out 0.18s,
		opacity 0.1s ease-in-out 0.36s;
}

.signin-box-closed {
	width: 0rem;
	height: 0rem;
	margin-left: 0rem;
	margin-bottom: 0rem;
	opacity: 0.0;
	transition:
		width 0.2s ease-in-out 0.26s,
		margin-left 0.2s ease-in-out 0.26s,
		height 0.2s ease-in-out 0.08s,
		margin-bottom 0.2s ease-in-out 0.08s,
		opacity 0.1s ease-in-out 0s;
}

.signin-box:focus {
	outline: none;
}

.signin-open::placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

.signin-closed::placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.signin-caption {
    display: inline-block;
    color: var(--dark-grey);
    font-family: var(--titles);
}

.signin-label-holder {
	position: absolute;
	left: 0.8rem;
	top: 0.4rem;
	color: var(--dark-grey);
}

.signin-label-holder-open {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.36s;
}

.signin-label-holder-closed {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.signin-error {
	position: absolute;
	bottom: -2rem;
	right: 0.2rem;
	font-size: 70%;
	font-family: var(--titles);
	color: var(--red);
}

.signin-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 0 2rem;
}

.signin-loader {
	animation: spin 3s infinite ease-in-out;
}

@keyframes spin {
	0%, 2% {
		transform: rotate(0deg);
	}
	98%, 100% {
		transform: rotate(1080deg);
	}
}




/* REGISTRATION */

.register {
	position: absolute;
	top: 0.6rem;
	left: 0.7rem;
	padding: 0.5rem;
	border-radius: 0 0 2rem 0;
	z-index: 11;
}

.register-closed {
	width: 7.4rem;
	height: 2.6rem;
	transition:
		width 0.2s ease-in-out 0.26s,
		height 0.2s ease-in-out 0.08s;
}

.register-open {
	width: 16rem;
	height: 39.2rem;
	transition:
		width 0.2s ease-in-out,
		height 0.2s ease-in-out 0.18s;
}

.register-capture {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 1;
}

.register-capture-open {
	width: 23rem;
	height: 100vh;
}

.register-capture-closed {
	width: 15rem;
	height: 15rem;
}

.register-icon-holder {
	position: absolute;
	left: 0.8rem;
	top: 0.3rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: text;
	pointer-events: none;
}

.register-icon-holder-open {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.register-icon-holder-closed {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.18s;
}

.register-icon {
	margin-right: 0.6rem;
}

.register-caption {
	font-family: var(--titles);
}

.register-button {
	position: absolute;
	width: 2rem;
	height: 2rem;
	right: -2.5rem;
	top: 0.3rem;
	border-radius: 1rem;
	color: var(--grey);
	cursor: not-allowed;
	transition:
		opacity 0.2s ease-in-out 0.18s,
		color 0.2s ease-in-out,
		background 0.2s ease-in-out;
}

.register-button-hide {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.register-button-on {
	color: var(--green);
	background: white;
	cursor: pointer;
}

.register-button-on:hover {
	background: var(--green);
	color: white;
}

.register-button-loading {
	color: var(--green);
	cursor: progress;
}

.register-button-error {
	background: var(--red);
	color: white;
	transition: 0;
}

.register-button-off {
}

.register-button-icon {
	width: 2rem;
	line-height: 2rem;
}

.fa-user-plus.register-button-icon {
	font-size: 90%;
	line-height: 1.9rem;
}


.register-box {
	display: block;
	width: 14rem;
	margin-bottom: 1.6rem;
	margin-left: 0.4rem;
	margin-right: 0.5rem;
	line-height: 2rem;
	padding: 0;
	border: 0;
}

.register-form {
	position: absolute;
}

.register-form-open {
	opacity: 1.0;
	transition: opacity 0.1s ease-in-out 0.38s;
}

.register-form-closed {
	pointer-events: none;
	opacity: 0.0;
	transition: opacity 0.1s ease-in-out 0s;
}

.register-field {
	display: block;
	width: 100%;
	margin-top: 0.7rem;
	height: 1.5rem;
	line-height: 2rem;
	padding: 0 0.3rem;
	border: 0;
	border-bottom: 1px solid transparent;
}

.register-field::placeholder {
	color: var(--grey);
}

.register-field-empty {
	border-color: var(--grey) !important;
}

.register-field-empty:hover {
	border-color: var(--dark-grey) !important;
}

.register-field-filled {
	border-color: transparent;
}

.register-field-filled:hover {
	border-color: var(--green);
}

.register-field-error {
	color: var(--red) !important;
	border-color: var(--red);
}

.register-at {
	position: absolute;
	top: 0.65rem;
	left: 0.6rem;
	font-size: 130%;
	font-family: var(--titles);
	font-weight: bold;
	cursor: text;
}

.register-at-on {
	color: var(--green);
}

.register-at-off {
	color: var(--pale-green);
}

.register-at-error {
	color: var(--red);
}

.register-password {
	color: var(--pale-black);
}

.register-id {
	max-width: 12.8rem;
	margin-left: 1.2rem;
	color: var(--green);
	font-size: 120%;
	font-family: var(--titles);
}

.register-name {
	text-align: center;
	color: var(--green);
	font-size: 150%;
	font-family: var(--titles);
}

.register-id::placeholder, .register-name::placeholder {
	color: var(--pale-green);
}

.register-box-bio {
	margin-bottom: 0.5rem;
}

.register-bio {
	resize: none;
	line-height: 1.3rem !important;
	min-height: 9.9rem;
	border: 1px solid transparent;
	border-radius: 0 0 1.4rem 0;
	padding: 0.4rem 0.5rem !important;
}

.register-image-holder {
	width: 14rem;
	height: 14rem;
}

.register-image {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	cursor: pointer;
	border: 1px solid transparent;
}

.register-image:hover {
	border: 1px solid var(--green);
}

.register-cropper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	width: 13.6rem;
	height: 13.6rem;
	border: 0.2rem solid transparent;
}

.register-crop-message {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 60%;
	color: var(--light-grey);
	font-family: var(--titles);
	pointer-events: none;
}

.register-crop-button {
	position: absolute;
	top: 0.4rem;
	width: 1.4rem;
	height: 1.4rem;
	background: white;
	color: black;
	opacity: 0.5;
	cursor: pointer;
	border-radius: 0.3rem;
	line-height: 1.4rem;
	text-align: center;
}

.register-crop-button:hover {
	opacity: 1;
}

.register-crop-swap {
	left: 0.4rem;
}

.register-crop-cancel {
	right: 0.4rem;
}

.register-crop-icon {
	font-size: 85%;
}

.register-image-holder {
	position: relative;
}

.register-error {
	position: absolute;
	right: 1.6rem;
	color: var(--red);
	line-height: 1.1rem;
	font-size: 65%;
}

.register-loader {
	animation: spin 3s infinite ease-in-out;
}

.register-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 2rem 0;
}






/* LOADING SCREEN */

.loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	pointer-events: none;
}

@keyframes spin {
	0%, 2% {
		transform: rotate(0deg);
	}
	98%, 100% {
		transform: rotate(1080deg);
	}
}

@keyframes spinsmooth {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.loader-image-holder {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: auto;
}

.loader-image-compass {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.loader-image-icon {
    height: 100%;
    padding: 0.93rem;
    animation: spinsmooth 1.3s infinite linear;
}

.loader-message-holder {
	padding-top: 1rem;
}

.loader-message {
	color: white;
	font-family: var(--titles);
	font-size: 120%;
	cursor: default;
}


.miniloader {
	width: 100%;
	height: 100%;
}

.miniloader-boxed {
	transform: translate(0, -0.45rem);
}

.miniloader-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0rem;
}

@keyframes beat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	20% {
		transform: scale(1.9);
		animation-timing-function: ease-in;
	}
	65% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}

.miniloader-dot {
	display: inline-block;
	padding-bottom: 0.1em;
	font-size: 2rem;
}

.miniloader-dot-1 {
	animation: beat 1.2s infinite ease;
}

.miniloader-dot-2 {
	animation: beat 1.2s infinite 0.2s ease;
}

.miniloader-dot-3 {
	animation: beat 1.2s infinite 0.4s ease;
}





/* NAVIGATION */

.menu {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	height: 100vh;
	width: 4rem;
	padding-bottom: 4rem;
	pointer-events: none;
}

.menu-left {
	left: -0.1rem;
}

.menu-right {
	right: -0.1rem;
}

.menu-bar {
	position: relative;
	display: block;
	width: 100%;
	background: white;
	white-space: nowrap;
	padding: 0.5rem;
	pointer-events: auto;
}

.menu-bar-left {
	padding-left: 0;
	border-radius: 0 1.5rem 0 0;
}

.menu-bar-right {
	padding-right: 0;
	border-radius: 1.5rem 0 0 0;
}

.menu-box-top {
	position: relative;
	display: block;
	margin-left: 0;
}

.menu-picture {
	top: 0;
	width: 3rem;
	height: 3rem;
	border: 2px solid var(--dark-grey);
}

.menu-picture-left {
	border-radius: 0 1.2rem 0 0;
	background: var(--dark-grey);
}

.menu-picture-right {
	border-radius: 1.2rem 0 0 0;
	background: white;
}

.menu-picture-off {
	border: 2px solid var(--dark-grey);
}

.menu-picture-on, .menu-picture-active {
	border: 2px solid var(--green);
	background: var(--green);
}

.menu-picture-placeholder {
	width: 3rem;
	height: 3rem;
	background: var(--dark-grey);
	border-radius: 0 1.2rem 0 0;
	padding-top: 0.5rem;
}

.menu-loader-holder {
	width: 100%;
	padding-top: 0.7rem;
}

.menu-loader {
	color: white;
	animation: spin 2s infinite ease-in-out;
	font-size: 150%;
}

.menu-icon {
	line-height: 3rem;
	font-size: 140%;
}

.menu-icon-active {
	color: var(--green);
}

.menu-box {
	position: relative;
	width: 3.5rem;
	height: 3rem;
	margin: 0;
	font-size: 100%;
	color: var(--dark-grey);
}

.menu-box:not(:first-child) {
	margin-top: 0.2rem;
}

.menu-box-over {
	color: white;
	background: var(--green);
	cursor: pointer;
}

.menu-box-left {
	padding-left: 0.5rem;
}

.menu-box-top-left {
	border-radius: 0 1.2rem 0 0;
}

.menu-box-right {
	padding-right: 0.5rem;
}

.menu-box-top-right {
	border-radius: 1.2rem 0 0 0;
}

.menu-tooltip {
	position: absolute;
	bottom: 0;
}

.menu-tooltip-on {
	opacity: 1;
	transition: 0.3s ease-out;
}

.menu-tooltip-off {
	opacity: 0;
	transition: 0.6s ease;
	visibility: hidden;
}

.menu-tooltip-right {
	right: 4.5rem;
}

.menu-tooltip-left {
	left: 4.5rem;
}

.menu-tooltip-text {
	font-size: 80%;
	margin: 0;
	line-height: 3rem;
	font-family: var(--titles);
	color: var(--green);
}

.menu-icon.fa-atom {
	transform: scale(1.3) rotate(30deg);
}






/* WRITING POSTS */

.feedpage {
	position: relative;
}

.feed-core {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: stretch;
}

.feed-marker {
	height: 1.4rem;
	margin-top: 1rem;
}

.feed-spacer {
	flex-grow: 1;
	flex-shrink: 1;
}

.newpost-holder {
	flex-basis: 100%;
}

.newpost-container {
	display: flex;
	position: relative;
}

.newpost {
	display: flex;
	min-height: 2.6rem;
	border-radius: 0 0 1.8rem 0;
	--post-padding: 0.6rem;
	--post-picture-size: 3.6rem;
}

.newpost-capture {
	padding: 1rem;
}

.newpost-input-holder {
	flex-basis: 100%;
	line-height: 1.4rem;
	margin-right: calc(2.2rem + (2 * var(--post-padding)));
	text-align: left;
	font-family: var(--titles);
	z-index: 2;
}

.newpost-input-holder-main-open {
	margin-top: 2rem;
	margin-left: calc(var(--post-picture-size) + (1.8 * var(--post-padding)));
	transition:
		margin-top 0.2s ease-in-out 0s,
		margin-left 0.2s ease-in-out 0s;
}

.newpost-input-holder-main-closed {
	margin-top: calc(0.6 * var(--post-padding));
	margin-left: calc(1.0 * var(--post-padding));
	transition:
		margin-top 0.2s ease-in-out 0.14s,
		margin-left 0.2s ease-in-out 0.14s;
}

.newpost-input-holder-reply-open {
	pointer-events: auto;
	opacity: 1.0;
	margin-top: 2rem;
	margin-left: calc(var(--post-picture-size) + (1.8 * var(--post-padding)));
	transition:
		opacity 0.2s ease-in-out 0.14s,
		margin-top 0.2s ease-in-out 0s,
		margin-left 0.2s ease-in-out 0s;
}

.newpost-input-holder-reply-closed {
	opacity: 0.0;
	margin-top: calc(0.6 * var(--post-padding));
	margin-left: calc(1.0 * var(--post-padding));
	transition:
		opacity 0.2s ease-in-out 0s,
		margin-top 0.2s ease-in-out 0.14s,
		margin-left 0.2s ease-in-out 0.14s;
}

.newpost-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.newpost-body-open {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out 0.14s;
}

.newpost-body-closed {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.newpost-input {
	max-height: none;
	line-height: 1.4rem;
	padding: calc(0.5 * var(--post-padding));
	margin-bottom: calc(0.5 * var(--post-padding));
	font-weight: 400;
	text-align: justify;
	overflow: auto;
	white-space: pre-wrap;
	outline: 0px solid transparent;
	cursor: text;
}

.newpost-input-open {
	opacity: 1.0;
	min-height: calc((2 * 1.8rem) + 2.2rem + (2.5 * var(--post-padding)) - 2rem);
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0s;
}

.newpost-input-closed {
	opacity: 1.0;
	min-height: 1.4rem;
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0.14s;
}

.newpost-input-sent {
	opacity: 0.0;
	min-height: 1.4rem;
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0.14s;
}

.newpost-footer {
	height: 1.2rem;
}

.newpost-footer-open {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out 0.14s;
}

.newpost-footer-closed {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.newpost-validation-holder-open {
	margin-bottom: calc(0.6 * var(--post-padding));
	transition: margin-bottom 0.2s ease-in-out 0s;
}

.newpost-validation-holder-closed {
	margin-bottom: 0;
	transition: margin-bottom 0.2s ease-in-out 0.14s;
}

.newpost-cost-holder {
	position: absolute;
	left: var(--post-padding);
	top: calc((2 * var(--post-padding)) + var(--post-picture-size));
	width: var(--post-picture-size);
}

.newpost-cost {
	display: inline-block;
	font-size: 85%;
	font-weight: bold;
	font-family: var(--titles);
	cursor: default;
}

.newpost-cost-red {
	color: var(--red);
}

.newpost-cost-amber {
	color: var(--amber);
}

.newpost-cost-icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-left: 0.2rem;
	margin-bottom: 0.1rem;
}

.newpost-send-button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: var(--post-padding);
	margin-bottom: var(--post-padding);
}

.newpost-send-button-main-open {
	transform: translate(0, 0);
	transition: transform 0.2s ease-in-out 0s;
}

.newpost-send-button-main-closed {
	cursor: default !important;
	transform: translate(0, 0.5rem);
	transition: transform 0.2s ease-in-out 0.14s;
}

.newpost-send-button-reply-open {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out 0.14s;
}

.newpost-send-button-reply-closed {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.newpost-send-button-loader {
	animation: spin 2s infinite ease-in-out;
}

.newpost-button-holder {
	position: absolute;
	width: 0;
	top: calc(0.5 * var(--post-padding));
	right: var(--post-padding);
}



.newpost-button {
	float: right;
	margin-top: calc(0.5 * var(--post-padding));
}

.newpost-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 1.8rem 0;
	z-index: 2;
}


.post-input-placeholder {
	opacity: 1;
	color: var(--grey);
	font-family: var(--titles);
}

.post-input-line {
	margin: 0;
	line-height: 1.35rem;
}

.post-input-text {
	display: inline-block;
}

.post-input-itrem {
	padding-bottom: 0.2rem;
}

.post-input-mention {
	color: var(--green);
}

.post-input-topic {
	color: var(--tan);
}

.post-input-link {
	color: var(--blue);
}

.post-input-border-pending {
	border-color: var(--dark-grey);
}

.post-input-border-failed {
	border-color: var(--red);
}

.post-input-border-passed {
	border-color: var(--green);
}

.post-input-button-pending {
	border-color: var(--dark-grey);
	color: var(--dark-grey);
}

.post-input-button-failed {
	border-color: var(--red);
	color: var(--red);
	text-decoration: line-through;
}

.post-input-button-passed {
	border-color: var(--green);
	color: var(--green);
}

.post-input-button-pending:hover {
	background: var(--dark-grey);
	color: white;
	cursor: wait;
}

.post-input-button-failed:hover {
	background: var(--red);
	color: white;
	cursor: not-allowed;
}

.post-input-button-passed:hover {
	background: var(--green);
	color: white;
}

.post-input-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 1.8rem 0;
}

.post-reference-pending {
	color: var(--pale-black);
}

.post-reference-fail {
	color: var(--red);
	text-decoration: line-through;
}

.post-validation-hide {
	border: 0;
}

.send-col {
	position: relative;
}




/* WRITING POSTS - VALIDATION NOTIFICATIONS */

.validator {
	position: relative;
	height: 1.8rem;
	background: transparent;
}

.validator-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
}

.validator-left {
	position: relative;
	display: block;
	float: left;
}

.validator-title {
	display: inline-block;
	float: left;
	height: 1.8rem;
	width: 1.8rem;
}

.validator-glyph-holder {
	width: 100%;
	line-height: 2rem;
	text-align: center;
	color: white;
}

.validator-message-holder {
	display: inline-block;
	float: left;
	line-height: 1.85rem;
}

.validator-message {
	font-size: 80%;
	font-weight: 400;
	text-align: left;
	padding-left: 0.6rem;
	line-height: 1.9rem;
	cursor: default;
}

.validator-subject {
	font-weight: bold;
}

.validator-right {
	position: relative;
	display: block;
	float: right;
}

.validator-control-holder {
	display: inline-block;
	float: right;
}

.validator-controls {
	line-height: 1.9rem;
	font-size: 70%;
}

.validator-control-text {
	cursor: pointer;
	margin-right: 1rem;
}

.validator-control-text:hover {
	text-decoration: underline;
}

.validator-icon-holder {
	display: inline-block;
	float: right;
	height: 1.8rem;
	width: 1.8rem;
	margin-right: 0.2rem;
}

.validator-icon {
	width: 100%;
	line-height: 2rem;
	text-align: center;
	font-size: 90%;
}

.validator-pending {
	animation: spin 3s infinite ease-in-out;
}





/* FEED - PENDING POSTS BOX */

.pending-posts {
	height: 2rem;
	margin-top: 1.3rem;
	margin-left: 8rem;
	margin-right: 8rem;
	border-radius: 1rem 1rem;
	font-family: var(--titles);
	line-height: 2rem;
}

.pending-posts-on {
	color: var(--green);
	cursor: pointer;
}

.pending-posts-on:hover {
	background: var(--pale-green);
	color: white;
}

.pending-posts-off {
	color: var(--dark-grey);
	cursor: default;
}



/* FEED - THREADS */

.thread-holder {
    width: 38rem;
    margin: auto;
}

.thread-card {
	border-radius: 1.8rem 0 0 0;
	display: flex;
}

.thread-card-inner {
	transition:
		filter 3s ease-in-out,
		-webkit-filter 3s ease-in-out;
}

.thread-card-stale {
	filter: blur(0.1rem);
}

.thread-stale {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 1.8rem 0 0 0;
	background: rgba(255, 255, 255, 0.8);
}

.thread-stale-text {
	width: 100%;
	font-size: 1.2rem;
	color: var(--red);
	cursor: default;
}

.thread-stale-off {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
}

.thread-stale-on {
	pointer-events: auto;
	opacity: 1;
	transition: opacity 2s ease-in-out 1s;
}

.thread-stale-button {
	display: inline-block;
	margin: 0.5rem 1rem;
	padding: 0 1rem;
	color: white;
	height: 1.5rem;
	line-height: 1.3rem;
	font-size: 0.8rem;
	border-radius: 1rem;
	cursor: pointer;
}

.thread-stale-button-view {
	border: 2px solid var(--dark-grey);
	background: var(--dark-grey);
}

.thread-stale-button-view:hover {
	background: white;
	color: var(--dark-grey);
}

.thread-stale-button-go {
	border: 2px solid var(--green);
	background: var(--green);
}

.thread-stale-button-go:hover {
	background: white;
	color: var(--green);
}

.thread-spacer {
	height: 2.2rem;
	font-family: var(--titles);
	border-top: 1px solid var(--grey);
}

.thread-spacer-waiting {
	line-height: 2.2rem;
	background: var(--light-grey);
	color: white;
	cursor: pointer;
}

.thread-spacer-waiting:hover {
	background: var(--white);
	color: var(--green);
}

.thread-spacer-loading {
	line-height: 2.3rem;
	cursor: progress;
	background: var(--white);
	color: var(--green);
}

.thread-loader {
	animation: spin 2s infinite ease-in-out;
}






/* FEED - POSTS */

.postfeed {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.postcard-holder {
    width: 38rem;
    margin: auto;
}

.postcard-first {
	border-radius: 1.8rem 0 0 0;
}

.post {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 7.4rem;
	cursor: pointer;
	border-top: 1px solid var(--grey);
	--post-padding: 0.6rem;
	--post-picture-size: 3.6rem;
}

.post-first {
	border-radius: 1.8rem 0 0 0;
	border-top: 0;
}

.post-body {
	display: block;
	position: relative;
	min-height: 7.4rem;
}

.post-body-first {
	border-radius: 1.8rem 0 0 0;
	transition: background 0.2s ease-in-out;
}

.post-body:hover {
	background: var(--palest-green);
}

.post-header-picture-holder {
	position: absolute;
	top: var(--post-padding);
	left: var(--post-padding);
	height: var(--post-picture-size);
	width: var(--post-picture-size);
	background: var(--grey);
}

.post-header-picture-loader {
	margin-top: 0.7rem
}

.post-header-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.post-header-picture-first {
	border-radius: 1.4rem 0 0 0;
}

.post-title-holder {
	position: absolute;
	top: var(--post-padding);
	left: calc(var(--post-picture-size) + (2 * var(--post-padding)));
	cursor: default;
}

.post-title-holder-active {
	cursor: pointer;
}

.post-title-holder:hover {
	text-decoration: underline;
}

.post-title-name {
	display: inline-block;
	font-family: var(--titles);
	color: var(--green);
	font-weight: bold;
	font-size: 110%;
}

.post-title-name-on {
	text-decoration: underline;
}

.post-title-id {
	display: inline-block;
	font-family: var(--titles);
	color: var(--dark-grey);
	font-size: 80%;
	margin: 0 0.6rem;
}

.post-core {
	padding-top: 2.2rem;
	padding-bottom: var(--post-padding);
	margin-left: calc(var(--post-picture-size) + (2.5 * var(--post-padding)));
	margin-right: calc(4rem + 2.0 * var(--post-padding));
	min-height: 7.4rem;
}

.post-content {
	display: block;
	text-align: justify;
	font-size: 95%;
	font-family: var(--titles);
}

.post-button-holder {
	position: absolute;
	width: 4rem;
	bottom: var(--post-padding);
	right: var(--post-padding);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.post-button-row {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.post-button {
	opacity: 1.0;
	float: right;
	margin-top: calc(0.5 * var(--post-padding));
	transition: opacity 0.2s ease-in-out 0.2s;
}

.post-button-off {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.post-reply {
	position: relative;
	background: white;
	cursor: default;
}

.post-reply-open {
	border-top: 1px dashed var(--grey);
	min-height: 7.8rem;
	max-height: none;
	transition:
		min-height 0.2s ease-in-out,
		max-height 0.2s ease-in-out,
		border-radius 0.2s ease-in-out;
}

.post-reply-closed {
	pointer-events: none;
	border-top: 0px dashed var(--grey);
	min-height: 0;
	max-height: 0;
	transition:
		min-height 0.2s ease-in-out,
		max-height 0.2s ease-in-out,
		border-radius 0.2s ease-in-out;
}




.post-tooltip-holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
}

.profiletip {
	position: relative;
	float: right;
	width: 10rem;
	min-height: 7.4rem;
	margin-right: 0.6rem;
	border-radius: 0 1.8rem 0 0;
}

.profiletip:hover {
	background: var(--palest-green);
}

.profiletip-picture-loading-box {
	margin-top: 0.5rem;
}

.profiletip-picture-loader {
	color: white;
	animation: spin 2s infinite ease-in-out;
}

.profiletip-picture-holder {
	position: absolute;
	right: 0.6rem;
	top: 0.6rem;
	width: 3.6rem;
	height: 3.6rem;
	background: var(--grey);
	border-radius: 0 1.4rem 0 0;
}

.profiletip-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
	border-radius: 0 1.4rem 0 0;
}

.profiletip-name {
	position: absolute;
	left: 0.5rem;
	right: 0.5rem;
	top: 4.3rem;
	color: var(--green);
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	font-family: var(--titles);
}

.profiletip-name-text {
	font-size: 1rem;
}

.profiletip-bio {
	margin: 0.6rem;
	margin-top: 5.8rem;
	margin-bottom: 0.5rem;
}

.profiletip-bio-text {
	font-size: 0.7rem;
	line-height: 1.0rem;
	text-align: justify;
}

.profiletip-buttons {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	width: 4rem;
}



/* POST PAGE */

.postpage {
	padding-top: 2rem;
}

.postpage-subject {
	margin-top: 0.8rem;
	transform: scale(1.1);
	transform-origin: 50% 100%;
	--post-padding: 0.8rem;
	--post-picture-size: 5rem;
}

.post-line {
	margin: 0;
	line-height: 1.4rem;
}

.post-mention {
	color: var(--green);
	cursor: pointer;
}

.post-mention:hover {
	text-decoration: underline;
}

.post-topic {
	color: var(--tan);
	cursor: pointer;
}

.post-topic:hover {
	text-decoration: underline;
}

.post-link {
	color: var(--blue);
	cursor: pointer;
}

.post-link:hover {
	text-decoration: underline;
}



/* POST LABELS */

.post-label {
	color: var(--pale-black);
	font-size: 0.6rem;
	height: 0.9rem;
	text-align: left;
	margin-bottom: 0.2rem;
	padding-left: 0.4rem;
	border-radius: 0.5rem;
}

.post-label-reply {
	background-image: linear-gradient(to right, var(--palest-grey), transparent);
}

.post-label-reply:hover {
	background-image: linear-gradient(to right, var(--grey), transparent);
}

.post-label-text {
	line-height: 1.1rem;
}

.post-label-icon {
	padding-right: 0.3rem;
}





/* PROFILE - CARD */

.profile {
	width: 100%;
}

.profilecard {
	width: 100%;
	min-height: 18rem;
	padding: 1rem;
	margin-top: 1.2rem;
	cursor: pointer;
}

.profilecard:hover {
	background: var(--palest-green);
}

.profilecard-left {
	border-radius: 0 4.3rem 0 0;
}

.profilecard-right {
	border-radius: 4.3rem 0 0 0;
}

.profilecard-top {
	height: 10rem;
	margin-bottom: 1rem;
}

.profilecard-picture-holder {
	width: 10rem;
	height: 10rem;
	background: var(--grey);
}

.profilecard-picture {
	width: 10rem;
	height: 10rem;
	border: 1px solid var(--grey);
}

.profilecard-picture-holder-left {
	float: right;
	border-radius: 0 3.5rem 0 0;
}

.profilecard-picture-left {
	border-radius: 0 3.5rem 0 0;
}

.profilecard-picture-holder-right {
	border-radius: 3.5rem 0 0 0;
	float: left;
}

.profilecard-picture-right {
	border-radius: 3.5rem 0 0 0;
}

.profilecard-picture-loading-box {
	color: white;
	margin-top: 4rem;
}

.profilecard-picture-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	font-size: 3rem;
}

.profilecard-gauges {
	position: absolute;
	width: 3rem;
	padding-top: 0.5rem;
}

.profilecard-gauges-left {
	right: 11.8rem;
}

.profilecard-gauges-right {
	left: 11.8rem;
}

.profilecard-gauge-holder {
	margin-top: 1rem;
}

.profilecard-name-holder {
	width: 100%;
}

.profilecard-name {
	margin: 0;
	font-family: var(--titles);
	text-align: left;
	font-weight: bold;
	color: var(--green);
}

.profilecard-name-text {
	font-size: 166%;
	line-height: 1.8rem;
}

.profilecard-id {
	color: var(--dark-grey);
	text-align: left;
	margin-left: 0.1rem;
}

.profilecard-id-text {
	font-size: 80%;
}

.profilecard-bio-holder {
	width: 100%;
	padding: 0.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0;
}

.profilecard-bio {
	font-family: var(--text);
	text-align: justify;
	line-height: 1.4rem;
}

.profilecard-buttons {
	position: absolute;
	top: 0.6rem;
	width: 2rem;
}

.profilecard-buttons-left {
	left: 0.8rem;
}

.profilecard-buttons-right {
	right: 0.8rem;
}





/* PROFILE - PAGE */

.profile-header {
	height: 13.6rem;
	flex-basis: 100%;
	margin-top: 2rem;
	border-radius: 0 0 2.6rem 0;
}

.profile-picture-holder {
	position: absolute;
	top: 0.8rem;
	bottom: 0.8rem;
	right: 3.2rem;
	width: 12rem;
	height: 12rem;
	background: var(--grey);
}

.profile-picture-holder-side {
	right: 1rem;
	border-radius: 0 0 2rem 0;
}

.profile-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.profile-picture-side {
	border-radius: 0 0 2rem 0;
}

.profile-picture-loading-box {
	color: white;
	margin-top: 5rem;
}

.profile-picture-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	font-size: 4rem;
}

.profile-name-holder {
	position: absolute;
	left: 1rem;
	top: 1.1rem;
}

.profile-name {
	margin: 0;
	display: inline-block;
	font-size: 180%;
	font-family: var(--titles);
	font-weight: bold;
	color: var(--green);
	cursor: default;
}

.profile-id-holder {
	position: absolute;
	left: 1.1rem;
	top: 2.5rem;
}

.profile-id {
	margin: 0;
	display: block;
	font-size: 80%;
	color: var(--dark-grey);
	text-align: left;
	line-height: 2rem;
	font-weight: normal;
	cursor: default;
}

.profile-bio-holder {
	position: absolute;
	left: 0.8rem;
	right: 16rem;
	top: 4.4rem;
	bottom: 4rem;
	padding: 0 0.2rem;
	line-height: 1.4rem;
	border: 0.1rem solid transparent;
}

.profile-bio {
	text-align: justify;
	font-weight: 400;
	cursor: default;
}

.profile-address-holder {
	position: absolute;
	left: 1.2rem;
	bottom: 3.2rem;
	cursor: pointer;
}

.profile-address {
	font-size: 60%;
	color: var(--dark-grey);
}

.profile-stat-holder {
	position: absolute;
	left: 1rem;
	bottom: 0.8rem;
}

.profile-stat-loader {
	display: inline-block;
	width: 0.8rem;
	margin-top: -0.1rem;
	vertical-align: top;
}

.profile-stat-box {
	display: inline-block;
	width: 4rem;
	height: 1.9rem;
	margin-right: 0.8rem;
	font-family: var(--titles);
	border: 0.1rem solid white;
}

.profile-stat-box-on {
	background: var(--dark-grey);
	border-color: var(--dark-grey);
	color: white;
	cursor: default;
}

.profile-stat-box-off {
	background: transparent;
	color: var(--dark-grey);
	cursor: pointer;
}

.profile-stat-box-off:hover {
	border-color: var(--dark-grey);
}

.profile-stat-icon {
	margin-right: 0.5rem;
}

.profile-stat {
	position: relative;
	margin: 0;
	line-height: 1.9rem;
}

.profile-stat-text {
	display: inline-block;
	font-size: 80%;
	font-weight: 700;
	transform: translate(0, -0.1rem);
}

.profile-gauge-holder {
	position: absolute;
	right: 15.2rem;
	bottom: 0.1rem;
}

.profile-gauge {
	display: inline-block;
	margin-right: 0.8rem;
}

.profile-button-holder {
	position: absolute;
	top: 0.3rem;
	right: 0.6rem;
	width: 2rem;
}

.profile-button {
	display: inline-block;
	float: left;
	margin-top: 0.5rem;
}

.profile-filter {
	margin: auto;
	margin-top: 1.4rem;
	border-radius: 1rem;
	height: 2rem;
	width: 32.6rem;
}

.profile-filter-title {
	display: inline-block;
	float: left;
	width: 2.3rem;
	height: 2rem;
	background: var(--green);
	color: white;
	border-radius: 1rem 0 0 1rem;
	line-height: 2.1rem;
	padding-left: 0.2rem;
}

.profile-filter-button {
	display: inline-block;
	float: left;
	width: 2.4rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: pointer;
}

.profile-filter-button:hover {
	color: var(--green);
}

.profile-filter-label {
	display: inline-block;
	float: left;
	height: 2rem;
	width: 8rem;
	line-height: 2rem;
	border-left: 0.1rem solid var(--dark-grey);
	margin-left: 0.4rem;
	cursor: default;
}

.profile-filter-text {
	color: var(--green);
	font-size: 90%;
	font-family: var(--titles);
}




/* PROFILE FEED */

.profile-feed-holder {
	flex-basis: 85%;
	margin: auto;
}

.profile-feed {
	display: flex;
}

.profile-feed-left {
	display: block;
	width: 50%;
	float: left;
	padding-right: 0.6rem;
	padding-left: 1rem;
}

.profile-feed-right {
	display: block;
	width: 50%;
	float: right;
	padding-left: 0.6rem;
	padding-right: 1rem;
}

.profile-feed-header {
	margin-top: 1.2rem;
	height: 3.2rem;
}

.profile-feed-title {
	color: var(--green);
	line-height: 3.2rem;
	font-family: var(--titles);
	font-weight: bold;
}

.profile-feed-title-text {
	font-size: 120%;
	cursor: default;
}

.profile-feed-title-icon {
	margin-right: 0.5rem;
	font-size: 160%;
	transform: translate(0,0.1rem);
}

.profile-feed-title-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	opacity: 0.5;
}



/* SEARCH */

.search-container {
	position: fixed;
	top: 0;
	right: 0;
}

.search-loader {
	animation: spin 2s infinite ease-in-out;
}

.search-capture {
	z-index: 1;
}

.search-capture-open {
	width: 20rem;
	height: 16rem;
}

.search-capture-closed {
	width: 15rem;
	height: 10rem;
}

.search-box {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.search-input-holder {
	position: relative;
	display: inline-block;
	float: right;
	height: 1.8rem;
	margin-top: 0.9rem;
	margin-right: 1.4rem;
	border-radius: 0 0 0 1rem;
}

.search-input-on {
	width: 17rem;
	transition: width 0.3s ease-out;
}

.search-input-off {
	width: 0rem;
	transition: width 0.3s ease-in;
}

.search-input {
	position: absolute;
	left: 0.8rem;
	top: 0.35rem;
	width: 82%;
	padding: 0;
	border: 0;
	font-size: 85%;
	line-height: 1.2rem
}

.search-input::placeholder {
	color: var(--grey);
}

.search-button {
	position: absolute;
	right: 0.8rem;
	top: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.3rem;
	cursor: pointer;
}

.search-button-off {
	background: white;
	color: var(--dark-grey);
	transition: 0.3s;
}

.search-button-on {
	background: var(--green);
	color: white;
	transition: 0.3s;
}

.search-button:hover {
	color: var(--green);
	background: white;
}


.search-clear {
	position: absolute;
	left: -1.3rem;
	top: 0.5rem;
	color: var(--pale-black);
	cursor: pointer;
}

.search-clear:hover {
	color: var(--red);
}

.search-clear-icon {
	font-size: 80%;
}




.quicksearch-results {
	position: absolute;
	right: 2.4rem;
	top: 3.3rem;
	width: 15rem;
}

.quicksearch-footer {
	display: block;
	height: 1.5rem;
	width: 100%;
	margin-top: 0.4rem;
	cursor: pointer;
}

.quicksearch-footer:hover {
	background: var(--palest-green);
}

.quicksearch-footer-text {
	color: var(--pale-black);
	font-family: var(--titles);
	font-size: 80%;
	line-height: 1.6rem;
}



.searchpage {
	width: 100%;
}

.searchpage-box {
	width: 30rem;
	max-height: 2.6rem;
	margin: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	border-radius: 0 0 1.8rem 0;
}

.searchpage-input {
	display: inline-block;
	border: 0;
	width: 27rem;
	margin: 0;
	padding-top: 0.6rem;
	padding-left: 0.8rem;
	font-family: var(--titles);
}

.searchpage-input::placeholder {
	color: var(--grey);
}

.searchpage-button {
	display: inline-block;
	width: 2.3rem;
	height: 2rem;
	margin: 0.3rem;
	margin-right: 0.4rem;
	margin-top: 0.2rem;
	color: var(--grey);
	border-radius: 0 0 1.5rem;
	padding-right: 0.3rem;
	line-height: 1.9rem;
	transform: translate(0,-0.1rem);
	cursor: pointer;
}

.searchpage-button:hover {
	color: white;
	background: var(--grey);
}



/* ALERTS */

.alerts-container {
	position: fixed;
	top: 0;
	left: 0;
}

.alerts-capture {
	z-index: 1;
}

.alerts-capture-open {
	width: 20rem;
	height: 16rem;
}

.alerts-capture-closed {
	width: 15rem;
	height: 10rem;
	z-index: 1;
}

.alerts-box {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.alerts-button {
	position: absolute;
	left: 0.8rem;
	top: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.3rem;
	cursor: pointer;
}

.alerts-button-off {
	background: white;
	color: var(--dark-grey);
	transition: 0.3s;
}

.alerts-button-on {
	background: var(--red);
	color: white;
	transition: 0.3s;
}

.alerts-button-on:hover {
	color: var(--red);
	background: white;
}

.alerts-caption {
	position: absolute;
	right: -0.6rem;
	width: 0;
	top: 0;
	text-align: left;
	color: var(--red);
	white-space: nowrap;
}

.alerts-caption-on {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out;
}

.alerts-caption-off {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0.5s;
}

.alerts-caption-text {
	font-family: var(--titles);
	line-height: 2.3rem;
}


.alerts-live {
	position: absolute;
	left: 2.4rem;
	top: 3.3rem;
	width: 15rem;
}


.alerttab {
	position: relative;
	height: 3.3rem;
	width: 100%;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.alerttab:hover {
	background: var(--palest-green);
}

.alerttab-picture-holder {
	position: absolute;
	left: 0.25rem;
	top: 0.25rem;
	width: 2.85rem;
	height: 2.85rem;
	background: var(--grey);
}

.alerttab-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.alerttab-content-holder {
	position: absolute;
	left: 3.4rem;
	text-align: left;
	padding-top: 0.6rem;
}

.alerttab-time {
	font-family: var(--titles);
	color: var(--dark-grey);
	font-size: 60%;
	line-height: 0.8rem;
}

.alerttab-text {
	font-family: var(--titles);
	color: var(--pale-black);
	font-size: 85%;
	line-height: 1rem;
}


.quickalerts-footer {
	display: block;
	height: 1.5rem;
	width: 100%;
	margin-top: 0.4rem;
	cursor: pointer;
}

.quickalerts-footer:hover {
	background: var(--palest-green);
}

.quickalerts-footer-text {
	color: var(--pale-black);
	font-family: var(--titles);
	font-size: 80%;
	line-height: 1.6rem;
}



.alertspage {
	width: 100%;
	margin: auto;
}

.alertspage-list {
	display: flex;
	flex-direction: column;
    flex-basis: 100%;
	margin-top: 4rem;
}



.alertcard {
	position: relative;
	height: 4rem;
    border-radius: 0 0 0 2.6rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
}

.alertcard-new:hover {
	background: var(--palest-green);
}

.alertcard-old:hover {
	background: var(--palest-grey);
}

.alertcard-title-holder {
	display: inline-block;
	float: left;
	width: 3.4rem;
	height: 3.4rem;
	margin: 0.3rem;
	color: white;
	border-radius: 0 0 0 2.3rem;
}

.alertcard-title-new {
	background: var(--green);
}

.alertcard-title-old {
	background: var(--dark-grey);
	transition: background 3s ease-in-out 5s;
}

.alertcard-title-icon {
    line-height: 3.3rem;
    padding-left: 0.2rem;
    font-size: 150%;
}

.alertcard-picture-holder {
	position: relative;
	display: inline-block;
	float: left;
	width: 3.4rem;
	height: 3.4rem;
	margin: 0.3rem;
	background: var(--grey);
}

.alertcard-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.alertcard-loader-holder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 0;
	margin-top: 0.7rem;
	text-align: center;
}

.alertcard-loader-icon {
	color: white;
	animation: spin 2s infinite ease-in-out;
}

.alertcard-message-holder {
	display: inline-block;
	float: left;
	margin-left: 0.3rem;
}

.alertcard-message {
	font-size: 110%;
	font-family: var(--titles);
	line-height: 4rem;
}

.alertcard-message-new {
	color: black;
}

.alertcard-message-old {
	color: var(--dark-grey);
	transition: color 3s ease-in-out 5s;
}

.alertcard-time-holder {
    position: absolute;
    right: 0.6rem;
    bottom: 0.2rem;
}

.alertcard-time {
	font-size: 70%;
	color: var(--dark-grey);
	font-family: var(--titles);
}

.alert-mention {
	color: var(--green);
}

.alert-mention-id:hover {
	text-decoration: underline;
}


.profiletab {
	position: relative;
	height: 3.4rem;
	width: 100%;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.profiletab-loaded:hover {
	background: var(--palest-green);
}

.profiletab-picture-loading-box {
	margin-top: 0.5rem;
}

.profiletab-picture-loader {
	color: white;
	animation: spin 2s infinite ease-in-out;
}

.profiletab-picture-holder {
	display: block;
	float: left;
	width: 3rem;
	height: 3rem;
	margin-left: 1.8rem;
	margin-top: 0.2rem;
	background: var(--grey);
}

.profiletab-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.profiletab-name {
	position: absolute;
	left: 5rem;
	top: 0.6rem;
	max-width: 9.5rem;
	line-height: 1.4rem;
	color: var(--green);
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	font-family: var(--titles);
}

.profiletab-name-text {
	font-size: 85%;
}

.profiletab-id {
	position: absolute;
	left: 5rem;
	top: 1.6rem;
	line-height: 1.2rem;
	color: var(--dark-grey);
	font-weight: normal;
}

.profiletab-id-text {
	font-size: 70%;
}

.profiletab-buttons {
	position: absolute;
	left: 0.2rem;
	width: 1.3rem;
}

.profiletab-button {
	margin-top: 0.2rem;
}



/* WALLET */

.wallet-container {
	position: fixed;
	bottom: 0;
	left: 0;
}

.wallet-button {
	position: relative;
	left: 0.8rem;
	bottom: 0.7rem;
	min-width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.2rem;
	cursor: pointer;
}

.wallet-token-holder {
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;
}

.wallet-token-icon {
    width: 1.3rem;
    margin-left: 0.3rem;
}

.wallet-balance-holder {
	display: inline-block;
	margin-right: 0.6rem;
}

.wallet-loader {
	color: var(--grey);
	animation: spin 3s infinite ease-in-out;
}

.wallet-balance {
	font-family: var(--titles);
	font-size: 85%;
	font-weight: bold;
	color: var(--pale-black);
}




/* BUTTONS */

.button {
	position: relative;
	display: block;
	padding-top: 0.05rem;
	border: 1px solid transparent;
	transition:
		color 0.2s ease-in-out,
		background 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
	cursor: pointer;
}

.button-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	font-family: var(--titles);
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
}

.button-caption-on {
	opacity: 1;
}

.button-caption-off {
	opacity: 0;
}

.button-caption-text {
	position: absolute;
	line-height: 1.5rem;
	font-size: 80%;
}

.button-inner-text {
    font-size: 0.7rem;
    line-height: 1.9rem;
}

.button-loader {
	margin-top: -0.1rem;
}

.you-marker {
	width: 1.8rem;
	height: 1.8rem;
	background: var(--red);
	color: white;
	font-size: 0.7rem;
	line-height: 1.9rem;
}




/* GAUGES */

.gauge {
	position: relative;
	display: block;
}

.gauge-holder {
	position: relative;
	display: block;
	width: 3rem;
	height: 3rem;
	clip-path: circle(1.45rem at center);
	overflow: hidden;
	cursor: default;
}

.gauge-under {
	position: absolute;
	background: var(--red);
	width: 3rem;
	height: 3rem;
}

.gauge-over {
	position: absolute;
	background: var(--green);
	width: 3rem;
	bottom: 0;
}

.gauge-label {
	position: absolute;
	width: 3rem;
	line-height: 3rem;
	color: white;
}

.gauge-label-text {
	font-family: var(--titles);
	line-height: 3.8rem;
	font-size: 80%;
}

.gauge-icon {
	font-size: 110%;
}

.gauge-caption {
	position: absolute;
	height: 1rem;
	color: var(--dark-grey);
	width: 3rem;
}

.gauge-caption-top {
	top: -0.85rem;
}

.gauge-caption-bottom {
	bottom: -1.1rem;
}

.gauge-caption-text {
	line-height: 1rem;
	font-size: 70%;
	text-align: center;
	font-weight: bold;
	font-family: var(--titles);
}




/* PLACEHOLDER */

.placeholder-card {
	padding: 1.2rem;
	align-self: center;
	flex-basis: 80%;
	margin: auto;
}

.placeholder-notice {
	font-family: var(--titles);
	color: var(--red);
	margin: 0;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
	font-size: 80%;
	cursor: default;
}

.placeholder-title-holder {
	font-family: var(--titles);
	color: var(--green);
}

.placeholder-title-text {
	font-size: 200%;
	margin: 0;
	margin-top: 0.5rem;
	cursor: default;
}

.placeholder-icon-holder {
	color: var(--red);
	font-size: 500%;
	margin: 0.3rem;
}

.placeholder-text-box {
	position: relative;
}

.placeholder-text-holder {
	max-height: 12rem;
	overflow: scroll;
	padding: 1rem 0;
}

.placeholder-text {
	margin: 0.6rem 1rem 0;
	padding: 0;
	color: var(--pale-black);
	line-height: 1.2rem;
	font-size: 90%;
}

.placeholder-text:last-child {
	margin-bottom: 1rem;
}

.placeholder-gradient {
	position: absolute;
	left: 0;
	right: 0;
	height: 2rem;
}

.placeholder-gradient-top {
	background: linear-gradient(rgba(256, 256, 256, 1), rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
	top: 0;
}

.placeholder-gradient-bottom {
	background: linear-gradient(rgba(256, 256, 256, 0), rgba(256, 256, 256, 1), rgba(256, 256, 256, 1));
	bottom: 0;
}

.placeholder-link-text {
	font-family: var(--titles);
	color: var(--pale-green);
	margin-top: 1.4rem;
}

.placeholder-link {
	font-size: 154%;
	line-height: 1.9rem;
	color: var(--green);
}

.placeholder-link:hover {
	color: var(--green);
	text-decoration: underline !important;
}




/* ABOUT */

@keyframes pulse {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(1.08);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(1.04);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(1.22);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}

.about-button {
	position: absolute;
	bottom: 6rem;
	left: 0;
	right: 0;
	margin: auto;
	width: 3rem;
	height: 3rem;
	color: var(--green);
	animation: pulse 2s ease-in-out infinite both;
	border-radius: 1.5rem;
	cursor: pointer;
	z-index: 4;
}

.about-button:hover {
	animation: none;
	color: white;
	background: var(--green);
	transition:
		color 0.3s ease-in-out,
		background 0.4s ease-in-out;
}

.about-icon {
	font-size: 1.7rem;
	line-height: 3.1rem;
}

.aboutcard {
    flex-grow: 1;
    align-self: center;
}






/* ANIMATIONS */

.slider {
	flex-basis: inherit;
	flex-grow: inherit;
}

.slider-children {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-basis: inherit;
	flex-grow: inherit;
}

.fader {
	display: flex;
	flex-grow: 1;
}

.expander {
	display: flex;
	flex-grow: 1;
}

.expander {
	display: flex;
	flex-basis: 100%;
}

.expander-pending {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}

.expander-children {
	flex-basis: 100%;
	position: relative;
	opacity: 0;
}

.anim-ignore {
	pointer-events: none;
}

.anim-respond {
	pointer-events: auto;
}





/* INIT */

.master-loading-mask-off {
	opacity: 0 !important;
	transition: opacity 0.2s linear;
}


