
.App {

	text-align: center;
	font-family: 'Oxygen';
	font-weight: 700;
	transition: 0.1s;

	--green: #01B050;
	--pale-green: #73d096;
	--red: #b01501;
	--pale-red: #d07c73;
	--purple: #A701B0;
	--pale-purple: #BC73D0;
	--grey: #D9D9D9;
	--light-grey: #E9E9E9;
	--dark-grey: #B7B7B7;
	--pale-black: #888888;
	--blue: #2A01B0;
	--pink: #A701B0;
	--tan: #B06D01;
	--yellow: #B0AA01;

	--text: 'Oxygen';
	--titles: 'Varela Round';

}

a {
	text-decoration: none !important;
}

body {
	background: var(--light-grey);
	font-size: calc(5px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.8em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

::-webkit-scrollbar { 
    display: none; 
}

.textlink {
	display: inline-block;
	padding: 0.2em 0.3em;
	line-height: 1em;
	color: var(--green) !important;
	cursor: pointer;
	border: 0.1em solid var(--green);
	border-radius: 100px 100px;
}

.textlink:hover {
	color: white !important;
	background: var(--green);
}

textarea:focus {
	outline: none;
}

button:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.material-icons {
	font-size: inherit;
	vertical-align: middle;
}



/* ICONS */

.fa {
	vertical-align: middle;
}

.fa-bullhorn {
	transform: translate(0, -0.1em);
}

.fa-reply {
	transform: translate(0, 0.1em);
}

.fa-cut {
	transform: rotate(180deg);
}





/* MAIN */

.podium {
	background: var(--light-grey);
	min-height: 100vh;
}

.card {
	box-shadow:
		0 0 0.5em 0 rgba(0, 0, 0, 0.1),
		0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
	border: 0;
}

.footer-spacer {
	margin-bottom: 15vh;
}



/* BUTTONS */

.def-button {
	display: block;
	margin: auto;
	margin-top: 4%;
	height: 7%;
	min-width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 2px solid;
	border-radius: 500px 500px;
	background: white;
	cursor: pointer;
	font-size: 110%;
	font-family: var(--titles);
	letter-spacing: .1em;
	line-height: 2.0em;
	white-space: nowrap;
}

.def-button:hover {
	transition-property: color, background;
	transition-duration: 0.4s;
}

.green-button {
	border-color: var(--green);
	color: var(--green);
}

.green-button:hover {
	background: var(--green);
	color: white;
}

.red-button {
	border-color: var(--red);
	color: var(--red);
}

.red-button:hover {
	background: var(--red);
	color: white;
}

.grey-button {
	display: inline-block;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
	border-color: var(--grey);
	color: var(--grey);
	cursor: not-allowed;
}

.back-button {
	margin-top: 12%;
}





/* DEMO MENU */

.demo-button {
	position: fixed;
	display: block;
	right: 0.3em;
	bottom: 0.3em;
	padding: 0em 0.55em;
    padding-top: 0.1em;
	text-align: center;
	line-height: 2em;
	border-radius: 1em 1em 1em 1em;
	cursor: pointer;
	font-family: var(--titles);
	font-size: 105%;
}

.demo-menu {
	position: fixed;
	bottom: 2.9em;
	border: 0.3em solid var(--red);
	border-radius: 2em 0 0 0;
	min-width: 14%;
	max-width: 20%;
	transition: right 0.5s ease;
}

.demo-menu-open {
	right: 0;
}

.demo-menu-closed {
	right: -21%;
}

.demo-button-icon {
	width: 1em;
	line-height: 2em;
}

.demo-menu-title {
	width: 100%;
	top: 0;
	margin: 0;
	padding: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.1em;
	border-radius: 1.5em 0 0 0;
	background: var(--red);
	color: white;
	font-family: var(--titles);
	text-align: left;
	cursor: default;
}

.demo-menu-close {
	position: absolute;
	top: 0.5em;
	right: 0.4em;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.3em;
	color: white;
	cursor: pointer;
}

.demo-menu-close:hover {
	background: white;
	color: var(--red);
}

.demo-menu-option {
	margin: 0;
	border-top: 0.1em solid var(--red);
	padding: 0.2em 1em;
	text-align: left;
	cursor: pointer;
	font-size: 90%;
	font-weight: normal;
}

.demo-menu-icon {
	padding-right: 0.6em;
	transform: translate(0,0.05em);
}

.demo-menu-option:hover {
	background: var(--pale-red);
	color: white;
}





/* LOBBY */

.lobby-box {
	display: flex;
	align-items: center;
	height: 100vh;
	padding-bottom: 10%;
}

.login-box {
	width: 22%;
	margin: auto;
	padding: 2% 1.8%;
}

.lobby-title {
	margin-top: 1%;
	margin-bottom: 10%;
}

.lobby-image {
	display: block;
	width: 84%;
	height: auto;
	margin: auto;
	margin-bottom: 10%;
}


/* SIGN IN */

.signin-box {
	width: 95%;
	margin: auto;
	border: 2px solid var(--green);
	border-top: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.signin-box:nth-of-type(1) {
	border: 2px solid var(--green);
}

.signin-box:focus {
	outline: none;
}

.signin-box::placeholder {
	opacity: 1;
	color: var(--grey);
}

.signin-button {
	min-width: 0;
	margin-right: 2.5%;
	margin-top: 0;
	border-top: 0;
	border-radius: 0 0 1.5em 1.5em;
	font-size: 90%;
}

.lobbymode-button {
	width: 94%;
	margin-top: 0;
}

.lobby-or {
	position: relative;
	display: block;
	width: 80%;
	height: 2px;
	margin: auto;
	margin-top: 12%;
	margin-bottom: 12%;
	background: var(--grey);
}

.lobby-or-text {
	position: absolute;
	top: -0.8em;
	right: 43%;
	left: 43%;
	background: white;
	color: var(--grey);
	text-align: center;
	white-space: nowrap;
}




/* LOADING SCREEN */

.loader-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding-bottom: 10%;
	transform: scale(0.2);
}

@keyframes spin {
	0%, 2% {
		transform: rotate(0deg);
	}
	98%, 100% {
		transform: rotate(1080deg);
	}
}

@keyframes spinsmooth {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes greenfade {
	0%, 10% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	40%, 100% {
		opacity: 0;
	}
}

@keyframes redfade {
	0%, 60% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90%, 100% {
		opacity: 0;
	}
}

.loader-holder {
	position: relative;
	width: 0;
	margin: auto;
	animation: spinsmooth 1.5s infinite linear;
}

.loader-image {
	position: absolute;
	width: 200px;
	height: 346px;
	transform: translate(-100px, -173px);
}

.loader-grey {
	filter: drop-shadow(0 0 0.5em #888);
}

.loader-green {
	animation: greenfade 3s infinite linear;
	transform: translate(-100px, -173px) rotate(180deg);
}

.loader-red {
	animation: redfade 3s infinite linear;
	transform: translate(-100px, -173px) rotate(180deg);
}





/* NAVIGATION */

.menu {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	height: 100vh;
	width: 6.5em;
	padding-bottom: 5%;
}

.menu-left {
	left: -0.1em;
}

.menu-right {
	right: -0.1em;
}

.menu-bar {
	position: relative;
	display: block;
	width: 100%;
	background: white;
	white-space: nowrap;
	padding: 0.6em;
}

.menu-bar-left {
	margin-left: 0;
	padding-left: 0;
	border-radius: 0 2.3em 0 0;
}

.menu-bar-right {
	margin-right: 0;
	padding-right: 0;
	border-radius: 2.3em 0 0 0;
}

.menu-profile-picture {
	position: relative;
	float: right;
	width: auto;
	height: 2.5em;
	border-radius: 0 1em 0 0;
	margin: auto;
	border: 0.1em solid transparent;
}

.menu-feed-holder {
	width: 2.3em;
	height: 2.3em;
	border: 0.1em solid transparent;
	border-radius: 0.94em 0 0 0;
}

.menu-feed-holder-off {
	background: #a4a4a4;
	transition: 0.6s ease;
}

.menu-feed-holder-on {
	background: white;
	transition: 0.3s ease-out;
}

.menu-feed-icon-holder {
	line-height: 2em;
}

.menu-feed-icon {
	font-size: 140%;
	line-height: 1.6em;
}

.menu-feed-icon-off {
	transition: 0.6s ease;
	color: white;
}

.menu-feed-icon-on {
	transition: 0.3s ease-out;
	color: var(--pale-green);
}

.menu-box {
	position: relative;
	margin: 0;
	font-size: 200%;	/* Applies to all icons */
	cursor: pointer;
	transition: 0.6s ease;
	color: var(--pale-black);
}

.menu-box:hover {
	color: white;
	background: var(--pale-green);
	transition: background 0.3s ease-out;
}

.menu-box-left {
	padding: 10% 0 10% 10%;
}

.menu-box-right {
	padding: 10% 20% 10% 0;
}

.menu-box-top {
	height: 2.5em;
	border: 0;
	padding: 0;
}

.menu-box-top-right {
	border: 0.1em solid transparent;
	border-radius: 1em 0 0 0;
}

.menu-box-top-left {
	border-radius: 0 1em 0 0;
}

.menu-tooltip {
	position: absolute;
	bottom: 0;
	padding: 20%;
}

.menu-tooltip-on {
	opacity: 1;
	transition: 0.3s ease-out;
}

.menu-tooltip-off {
	opacity: 0;
	transition: 0.6s ease;
	visibility: hidden;
}

.menu-tooltip-right {
	right: 3em;
}

.menu-tooltip-left {
	left: 3em;
}

.menu-tooltip-text {
	font-size: 55%;
	margin: 0;
	line-height: 1em;
	font-family: var(--titles);
	color: var(--pale-green);
}

.status-number-holder {
	display: inline-block;
	vertical-align: middle;
	width: 0.8em;
	height: 0;
	padding-bottom: 0.3em;
	padding-left: 0.1em;
	line-height: 0;
}

.status-number {
	display: block;
	font-size: 40%;
	height: 50%;
	min-width: 0.5em;
	max-width: 2.8em;
	margin: 0;
	margin-top: 20%;
	margin-bottom: 25%;
	color: var(--white);
	text-align: center;
}

.status-number-on {
	opacity: 1;
}

.status-number-off {
	opacity: 0;
	display: none;
}

.signout-title {
	font-size: 120%;
	font-family: var(--titles);
	color: var(--pale-black);
	margin-bottom: 0.4em;
}





/* WRITING POSTS */

.send {
	padding-top: 1%;
}

.send-box {
	margin-top: 1em;
	padding: 0.7em 0.6em 0.6em;
	border-radius: 0 0 2.3em 0;
}

.input-col {
	padding: 0;
}

.post-input {
	min-height: 2.4em;
	max-height: none;
	border: 2px solid;
	border-radius: 0 0 1.8em 0;
	padding: 0.4em;
	font-size: 100%;
	line-height: 1.4em;
	font-weight: 400;
	text-align: left;
	overflow: auto;
	white-space: pre-wrap;
}

.post-input-open {
	outline: none;
	min-height: 4.8em;
	border-radius: 0;
}

.post-input-with-validations {
	border-bottom: 0;
}

.post-validation-box {
	border: 0.11em solid;
	border-top: 0;
}

.post-input-placeholder {
	opacity: 1;
	color: var(--grey);
}

.post-input-button {
	display: block;
	float: right;
	margin-top: 0;
	width: 6em;
	min-width: 0;
	border-radius: 0 0 2.4em 2.4em;
	border-top: 0;
	border-color: var(--dark-grey);
	color: var(--dark-grey);
	padding: 0;
	padding-bottom: 0.2em;
	line-height: 1.4em;
}

.post-input-cost {
	position: absolute;
	bottom: 3em;
	margin: 0;
	right: 1.4em;
	font-size: 80%;
}

.post-input-cost-icon {
	padding-bottom: 0.1em;
}

.post-input-line {
	margin: 0;
	line-height: 1.35em;
}

.post-input-text {
	display: inline-block;
}

.post-input-item {
	padding-bottom: 0.2em;
}

.post-input-mention {
	color: var(--green);
}

.post-input-topic {
	color: var(--tan);
}

.post-input-link {
	color: var(--blue);
}

.post-input-border-pending {
	border-color: var(--dark-grey);
}

.post-input-border-failed {
	border-color: var(--red);
}

.post-input-border-passed {
	border-color: var(--green);
}

.post-input-button-pending {
	border-color: var(--dark-grey);
	color: var(--dark-grey);
}

.post-input-button-failed {
	border-color: var(--red);
	color: var(--red);
	text-decoration: line-through;
}

.post-input-button-passed {
	border-color: var(--green);
	color: var(--green);
}

.post-input-button-pending:hover {
	background: var(--dark-grey);
	color: white;
	cursor: wait;
}

.post-input-button-failed:hover {
	background: var(--red);
	color: white;
	cursor: not-allowed;
}

.post-input-button-passed:hover {
	background: var(--green);
	color: white;
}

.post-reference-fail {
	color: var(--red);
	text-decoration: line-through;
}

.post-validation-hide {
	border: 0;
}

.send-col {
	position: relative;
}



/* WRITING POSTS - TOKEN BALANCES */

.input-support {
	position: absolute;
	display: block;
	top: 0.5em;
	width: 8em;
	height: 5em;
	padding: 0.5em;
}

.balance-card {
	left: -8.8em;
}

.balance-panel {
	position: relative;
}

.balance-title {
	float: left;
	width: 2.6em;
	margin: 0;
	font-family: var(--titles);
	color: white;
	cursor: default;
}

.pod-title {
	background: var(--green);
	border-radius: 0 0 1em 0;
}

.aud-title {
	background: var(--purple);
	border-radius: 0 1em 0 0;
}

.balance-title-text {
	font-size: 80%;
}

.balance-number {
	width: 3.8em;
	text-align: center;
	font-family: var(--titles);
	font-weight: normal;
	margin: 0;
	margin-left: 2.6em;
	line-height: 2em;
}

.balance-number-text {
	font-size: 80%;
}

.pay-button-panel {
	position: absolute;
	height: 2em;
	right: 0;
	top: 0;
}

.pay-button {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
    border: 0.1em solid transparent;
}

.pay-button:hover {
	background: var(--grey);
}

.pay-button-icon {
    font-size: 60%;
    position: absolute;
    right: 0.2em;
    top: 0.25em;
    text-align: center;
}

.pay-button-pod, .pay-button-audpod {
	top: 0;
}

.pay-button-podaud, .pay-button-aud {
	bottom: 0;
}

.pay-icon-pod {
	color: var(--green);
}

.pay-icon-aud {
	color: var(--purple);
}

.pay-icon-left {
	text-align: left;
}

.pay-icon-right {
	text-align: right;
}

.balance-highlight {
	position: absolute;
	top: 5.1em;
	left: 0;
	right: 0;
	font-family: var(--titles);
	width: 100%;
	text-align: center;
	white-space: nowrap;
}

.highlight-text {
	font-size: 70%;
	margin: 0;
}

.pod-text {
	color: var(--pale-green);
}

.aud-text {
	color: var(--pale-purple);
}


/* WRITING POSTS - MEDIA */

.insert-card {
	right: -8.8em;
}

.insert-holder {
	position: relative;
}

.insert-panel {
	position: absolute;
	display: block;
	width: 2em;
	height: 4em;
	z-index: 2;
}

.insert-column-1 {
	left: 0em;
}

.insert-column-2 {
	left: 2em;
}

.insert-column-3 {
	left: 4.45em;
	border-left: 0.1em solid var(--grey);
	padding-left: 0.45em;
}

.insert-button {
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: var(--dark-grey);
	cursor: pointer;
}

.insert-button:hover {
	background: var(--dark-grey);
	color: white;
}

.insert-button-icon {
	font-size: 110%;
	line-height: 1.9em;
}

.insert-highlight {
	position: absolute;
	top: 4.6em;
	left: 0;
	right: 0;
	font-family: var(--titles);
	width: 100%;
	text-align: center;
	color: var(--dark-grey);
}





/* WRITING POSTS - VALIDATION NOTIFICATIONS */

.notif-card {
	border-radius: 0;
	border-bottom: 0;
	border-top: 0;
	line-height: 0em;
	height: 2em;
	padding: 0;
	border: 0.1em solid white;
	border-top: 0;
}

.notif-title {
	display: inline-block;
    float: left;
    height: 1.85em;
    min-width: 2em;
    line-height: 1.8em;
}

.notif-glyph {
	font-size: 120%;
	font-weight: bold;
	color: white;
}

.notif-message-holder {
	display: inline-block;
	float: left;
	line-height: 2em;
}

.notif-message{
	font-size: 80%;
	font-weight: 400;
	text-align: left;
	margin: 0;
	padding-left: 0.8em;
}

.notif-icon {
	display: inline-block;
	float: right;
	height: 2em;
	min-width: 2em;
	line-height: 2em;
}

.notif-icon-pending {
	animation: spin 3s infinite ease-in-out;
}





/* FEED - PENDING POSTS BOX */

.pending-posts {
	height: 2em;
	margin-top: 1.3em;
	margin-left: 5em;
	margin-right: 5em;
	background: white;
	border-radius: 1em 1em;
	font-family: var(--titles);
	color: var(--green);
	line-height: 2em;
	cursor: pointer;
}

.pending-posts:hover {
	background: var(--pale-green);
	color: white;
}



/* FEED - THREADS */

.thread-holder {
	margin-top: 1em;
}

.thread-card {
	border-radius: 2.1em 0 0 0;
}



/* FEED - POSTS */

.post {
	position: relative;
	margin-top: 3%;
}

.post-core {
	position: relative;
	display: block;
	min-height: 8em;
	border-bottom: 0.1em solid var(--grey);
}

.post-core:last-of-type {
	border-bottom: 0;
}

.post-body {
	cursor: pointer;
}

.post-column-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: auto;
}

.post-column-2 {
	margin-left: 4.9em;
	margin-top: 0.3em;
	margin-right: 4.5em;
	display: block;
	overflow: auto;
}

.post-column-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 4.5em;
	height: auto;
}

.post-user-picture {
	display: block;
	width: 3.8em;
	height: 3.8em;
	margin: 0.5em;
	margin-left: 0.55em;
	margin-bottom: 0.3em;
	background: pink;
}

.post-core:first-of-type > .post-body > .post-user > .post-user-picture {
	border-radius: 1.7em 0 0 0;
}

.post-user-info-holder {
	width: 3.8em;
    margin-bottom: 0.3em;
    margin-left: 0.55em;
    height: 1.3em;
    background: var(--pale-red);
    line-height: 1.5em;
    border-radius: 0.2em;
}

.post-user-info-size {
	position: absolute;
    height: 1.3em;
    background: var(--green);
    border-radius: 0.2em 0 0 0.2em;
}

.post-user-info {
	position: absolute;
	width: 4.8em;
	font-size: 80%;
	font-family: var(--titles);
	color: white;
}

.post-icon {
	transform: translate(0,-0.1em);
}

.post-user-title {
	line-height: 1.6em;
}

.post-user-name {
	display: inline-block;
	float: left;
	color: var(--green);
	font-family: var(--titles);
	font-size: 100%;
	margin: 0;
}

.post-user-id {
	display: inline-block;
	float: left;
	font-family: var(--titles);
	color: var(--pale-red);
	margin: 0;
	margin-left: 0.6em;
	font-size: 80%;
}

.post-timestamp {
	display: inline-block;
	float: left;
	font-family: var(--titles);
	color: var(--dark-grey);
	margin: 0;
	margin-left: 0.4em;
	font-size: 80%;
	font-weight: normal;
}

.post-content {
	display: block;
	clear: both;
	min-height: 5.2em;
	text-align: justify;
	margin: 0;
	padding: 0.2em 0.4em 0.4em 0.3em;
	font-weight: normal;
	overflow: auto;
}

.post-line {
	margin: 0;
	line-height: 1.4em;
}

.post-mention {
	color: var(--green);
	cursor: pointer;
}

.post-mention:hover {
	text-decoration: underline;
}

.post-topic {
	color: var(--tan);
	cursor: pointer;
}

.post-topic:hover {
	text-decoration: underline;
}

.post-topic > a {
	color: var(--blue);
	cursor: pointer;
	text-decoration: none;
}

.post-topic > a:hover {
	text-decoration: underline;
}


/* FEED - POSTS - ACTION BUTTONS */

.post-buttons-left {
	display: block;
	float: left;
}

.post-buttons-right {
	display: block;
	float: right;
	margin-right: 0.5em;
}

.post-button {
	position: relative;
	width: 2em;
	height: 2em;
	color: var(--grey);
	margin: 0.5em 0;
	line-height: 2em;
	cursor: pointer;
}

.post-button:hover {
	color: white;
}

.post-button-promote:hover {
	background: var(--pale-green);
}

.post-button-promoteself:hover {
	background: var(--pale-purple);
}

.post-button-report:hover {
	background: var(--pale-red);
}

.post-button-retract:hover {
	background: var(--pale-red);
}

.post-button-reply:hover { 
	background: var(--dark-grey);
	border: 0;
}

.post-button-reply-on {
	color: var(--dark-grey);
	border: 0.1em solid var(--dark-grey);
}

.post-button-reply-on:hover {
	color: white;
	background: var(--grey);
	border: 0.1em solid var(--grey);
}

.post-button-text {
    font-family: var(--titles);
    font-size: 70%;
    line-height: 3.1em;
    text-align: center;
}

.post-button-caption-holder {
	position: absolute;
	display: inline-block;
	top: 0;
	line-height: 1.7em;
}

.post-buttons-left > .post-button > .post-button-caption-holder {
	left: 5.2em;
}

.post-buttons-right > .post-button > .post-button-caption-holder {
	left: 3.2em;
}

.post-button-caption {
	font-family: var(--titles);
	font-size: 80%;
	white-space: nowrap;
}

.post-button-caption-promote {
	color: var(--green);
}

.post-button-caption-promoteself {
	color: var(--purple);
}

.post-button-caption-report {
	color: var(--red);
}

.post-button-caption-retract {
	color: var(--red);
}

.post-button-caption-reply {
	color: var(--pale-black);
}

.post-button-caption-on {
	opacity: 1;
}

.post-button-caption-off {
	opacity: 0;
	visibility: hidden;
}

.post-reply {
    padding: 0.5em;
    padding-top: 0.35em;
    padding-bottom: 2.3em;
}



/* POST - REFERENCES */

.post-usercard {
	position: absolute;
	width: 14em;
	top: 0;
	left: -14em;
}



/* POST - LOADING */

.post-sending {
	position: relative;
	display: block;
	height: 2.5em;
	background: var(--pale-green);
	border-top: 0.1em solid var(--grey);
	color: white;
}

.post-spinner-holder {
	position: absolute;
	right: 0.2em;
}

.post-spinner {
	animation: spin 3s infinite ease-in-out;
}



/* POST - REACTIONS */

.post-reaction {
	position: absolute;
	right: -3.3em;
	z-index: 1;
}

.reaction-button {
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
}

.react-support {
	margin-top: 1.2em;
	color: var(--green);
	border-radius: 0 0.8em 0 0;
}

.react-oppose {
	margin-top: 0.7em;
	color: var(--red);
	border-radius: 0 0 0.8em 0;
}

.react-support:hover {
	background: var(--pale-green);
	color: white;
}

.react-oppose:hover {
	background: var(--pale-red);
	color: white;
}

.reaction-icon-holder {
	line-height: 2.5em;
}

.reaction-icon {
	font-size: 140%;
	text-align: center;
}




/* PROFILE - TOOLTIP */

.usercard {
	width: 100%;
	transform: translate(-1em, 0);
	padding: 1em;
	border-radius: 4.3em 0 0 0;
	font-size: 80%;
}

.usercard-picture {
	float: left;
	width: 10em;
	height: auto;
	border-radius: 3.5em 0 0 0;
}

.usercard-gauges {
	float: right;
	width: 5em;
}

.usercard-name-holder {
	width: 100%;
}

.usercard-name {
	margin: 0;
	font-family: var(--titles);
	font-size: 200%;
	font-weight: bold;
	color: var(--green);
	cursor: default;
}

.usercard-id {
	padding-left: 0.8em;
	font-size: 80%;
	color: var(--grey);
	cursor: default;
}

.usercard-bio-holder {
	width: 100%;
}

.usercard-bio {
	font-family: var(--text);
	font-size: 100%;
	text-align: justify;
}

.usercard-buttons {
	width: 100%;
	right: 0.8em;
	bottom: 0.8em;
}

.usercard-button {
	display: inline-block;
	font-size: 120%;
	padding: 0;
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: var(--grey);
	border: 0.1em solid transparent;
}

.usercard-button-icon {
	text-align: center;
}

.usercard-profile-button {

}

.usercard-profile-button:hover {
	color: white;
	background: var(--green);
}

.usercard-follow-button {

}

.usercard-follow-button:hover {
	color: white;
	background: var(--blue);
}

.usercard-unfollow-button {
	color: white;
	background: var(--blue);
	border: 0.1em solid var(--blue);
}

.usercard-unfollow-button:hover {
	color: var(--blue);
	background: white;
}

.usercard-report-button {

}

.usercard-report-button:hover {
	color: white;
	background: var(--red);
}



/* PROFILE - PAGE */

.profile-header {
	height: 11.6em;
	margin-top: 2em;
	border-radius: 0 0 0 2.6em;
}

.profile-picture {
	position: absolute;
	top: 0.8em;
	bottom: 0.8em;
	left: 0.8em;
	width: 10em;
	height: 10em;
	border-radius: 0 0 0 2em;
	border: 0.1em solid transparent;
}

.profile-name-holder {
	position: absolute;
	left: 11.6em;
	bottom: 1.4em;
	font-family: var(--titles);
}

.profile-name {
	margin: 0;
	display: inline-block;
	font-size: 180%;
	color: var(--green);
}

.profile-id {
	margin: 0;
	margin-left: 1em;
	display: inline-block;
	font-size: 120%;
	color: var(--grey);
}

.profile-address-holder {
	position: absolute;
	left: 11.6em;
	bottom: 0.8em;
}

.profile-address {
	margin: 0;
	font-size: 60%;
	font-weight: 400;
	line-height: 1em;
	color: var(--dark-grey);
}

.profile-bio-holder {
	position: absolute;
	left: 11.6em;
	right: 3.6em;
	top: 0.8em;
	bottom: 4em;
	padding: 0.2em 0.5em;
	border: 0.1em solid transparent;
}

.profile-editable:hover {
	border-color: var(--pale-green);
	cursor: pointer;
}

.profile-bio {
	text-align: left;
	font-weight: 400;
}



/* SEARCH */

.search-box {
	min-width: 100%;
	margin-top: 10%;
	padding: 0.4em;
	border-radius: 0 0 1.5em 0;
	font-size: 130%;
}

.search-bar {
	display: inline-block;
	width: 82%;
	height: 2.2em;
	margin: 0;
	border: 0.11em solid var(--green);
	padding: 0.3em 0.5em;
	line-height: 1.4em;
	font-family: var(--titles);
}

.search-bar::placeholder {
	opacity: 1;
	color: var(--grey);
}

.search-bar:focus {
	outline: none;
}

.search-button {
	position: absolute;
	right: 0.4em;
	min-width: 0;
	width: 18%;
	height: 2em;
	margin: 0;
	border: 0.1em solid var(--green);
	border-radius: 0 0 1em 0;
	padding: 0;
	line-height: 1.3em;
	color: var(--green);
}

.search-button:hover {
	color: white;
	background: var(--green);
}



.search-results-box {
	position: relative;
}



/* TASK NOTIFICATIONS */

.tasks {
	position: fixed;
	left: 1em;
	bottom: 1em;
	display: flex;
	flex-direction: column;
}

.task-card {
	height: 2em;
	width: 15em;
	margin-top: 0.5em;
	font-size: 110%;
}

.task-in {
	transition: transform 0.3s ease-out;
	transform: translate(0, 0);
}

.task-out {
	transform: translate(-17em, 0);
	transition: transform 0.5s ease-in;
	transition-delay: 1s;
}

.task-title-holder {
	position: absolute;
	left: 0.5em;
}

.task-title {
	font-size: 80%;
	text-align: left;
	font-family: var(--titles);
}

.task-progress-holder {
	position: absolute;
	right: 0.4em;
}

.task-progress {
	font-size: 80%;
	text-align: right;
	font-weight: bold;
	font-family: var(--titles);
	color: var(--grey);
}

.task-done {
	color: var(--green);
	font-size: 110%;
}

.task-progbar {
	position: absolute;
	height: 0.2em;
	bottom: 0.2em;
	border: 0.12em solid transparent;
	border-radius: 0.12em;
	margin-left: 1%;
	max-width: 98%;
}

.task-progbar-in {
	background: var(--green);
	transition: width 0.05s;
}

.task-progbar-out {
	width: 99%;
	background: var(--pale-red);
}

.task-spinner {
	color: var(--grey);
	margin-left: 0.3em;
	margin-bottom: 0.2em;
	font-size: 1em;
	top: 0.2em;
	padding: 0;
	animation: spin 3s infinite ease-in-out;
	transform-origin: 50% 51%;
}



/* POPUPS */

.popup-holder {
	position: fixed;
	top: 0;
	left: 0;
}

.popup-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.65);
}

.popup {
	position: fixed;
	top: 30%;
	left: 40%;
	right: 40%;
	width: 20%;
	padding: 1em;
}

.popup-button {
	display: inline-block;
	min-width: 0;
	margin: 0.5em 0.6em 0.3em;
    width: 40%;
}


