
.app {

	text-align: center;
	font-family: 'Oxygen';
	transition: 0.1s;

	--green: #00AA22;
	--pale-green: #89D494;
	--palest-green: #F3FBF5;

	--red: #AA2200;
	--pale-red: #D49489;
	--palest-red: #FBF5F3;

	--purple: #AA0088;

	--blue: #0088AA;

	--tan : #AA8800;

	--grey: #DDDDDD;
	--light-grey: #E9E9E9;
	--dark-grey: #B6B6B6;
	--pale-black: #888888;


	--text: 'Oxygen';
	--titles: 'Varela Round';

}

a {
	text-decoration: none !important;
}

body {
	background: var(--light-grey);
	color: #333333;
}

.backdrop {
	position: fixed;
	top: -100vh;
	right: -100vw;
	left: -100vw;
	bottom: -100vh;
	background: var(--grey);
}

::-webkit-scrollbar { 
	display: none;
}

.textlink {
	display: inline-block;
	padding: 0.2rem 0.3rem;
	line-height: 1rem;
	color: var(--green) !important;
	cursor: pointer;
	border: 0.1rem solid var(--green);
	border-radius: 100px 100px;
}

.textlink:hover {
	color: white !important;
	background: var(--green);
}

textarea:focus {
	outline: none;
}

button:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.material-icons {
	font-size: inherit;
	vertical-align: middle;
}

p {
	line-height: 1.4rem;
	padding: 0;
	margin: 0;
}



/* ICONS */

.fas {
	box-sizing: content-box;
}





/* MAIN */

.podium {
	background: var(--grey);
	min-height: 100vh;
}

.card {
	display: block;
	box-shadow:
		0 0 0.5rem 0 rgba(0, 0, 0, 0.1),
		0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
	border: 0;
	border-radius: 0;
	z-index: 10;
}

.content-holder {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.content-column {
	display: flex;
	width: 45rem;
	margin: auto;
}

.footer-spacer {
	margin-bottom: 8vh;
	clear: both;
}






/* BUTTONS */

.def-button {
	display: block;
	margin: auto;
	margin-top: 4%;
	height: 7%;
	min-width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 2px solid;
	border-radius: 500px 500px;
	background: white;
	cursor: pointer;
	font-size: 110%;
	font-family: var(--titles);
	letter-spacing: .1rem;
	line-height: 2.0rem;
	white-space: nowrap;
}

.def-button:hover {
	transition-property: color, background;
	transition-duration: 0.4s;
}

.green-button {
	border-color: var(--green);
	color: var(--green);
}

.green-button:hover {
	background: var(--green);
	color: white;
}

.red-button {
	border-color: var(--red);
	color: var(--red);
}

.red-button:hover {
	background: var(--red);
	color: white;
}

.grey-button {
	display: inline-block;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
	border-color: var(--grey);
	color: var(--grey);
	cursor: not-allowed;
}

.back-button {
	margin-top: 12%;
}





/* DEMO MENU */

.demo-button {
	position: fixed;
	display: block;
	right: 0.3rem;
	bottom: 0.3rem;
	padding: 0rem 0.55rem;
    padding-top: 0.1rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 1rem 1rem 1rem 1rem;
	cursor: pointer;
	font-family: var(--titles);
	font-size: 105%;
}

.demo-menu {
	position: fixed;
	bottom: 2.9rem;
	border-radius: 2rem 0 0 0;
	min-width: 14%;
	max-width: 20%;
	transition: right 0.5s ease;
}

.demo-menu-open {
	right: 0;
}

.demo-menu-closed {
	right: -21%;
}

.demo-button-icon {
	width: 1rem;
	line-height: 2rem;
}

.demo-menu-title {
	width: 100%;
	top: 0;
	margin: 0;
	padding: 1rem;
	padding-top: 0.3rem;
	padding-bottom: 0.1rem;
	border-radius: 1.5rem 0 0 0;
	background: var(--red);
	color: white;
	font-family: var(--titles);
	text-align: left;
	cursor: default;
}

.demo-menu-close {
	position: absolute;
	top: 0.5rem;
	right: 0.4rem;
	width: 1.3rem;
	height: 1.3rem;
	line-height: 1.3rem;
	color: white;
	cursor: pointer;
}

.demo-menu-close:hover {
	background: white;
	color: var(--red);
}

.demo-menu-option {
	margin: 0;
	border-top: 0.1rem solid var(--red);
	padding: 0.2rem 1rem;
	text-align: left;
	cursor: pointer;
	font-size: 90%;
	font-weight: normal;
}

.demo-menu-icon {
	padding-right: 0.6rem;
	transform: translate(0,0.05rem);
}

.demo-menu-option:hover {
	background: var(--pale-red);
	color: white;
}





/* LOBBY */

.lobby-box {
	display: flex;
	align-itrems: center;
	height: 100vh;
	padding-bottom: 10%;
}

.title-box {
	position: absolute;
	top: 15%;
	left: 10%;
	right: 10%;
	bottom: 19%;
}

.lobby-image {
	width: auto;
	height: 100%;
}





/* SIGN IN */

.signin {
	position: absolute;
	top: 0.6rem;
	right: 0.7rem;
	padding: 0.5rem;
	min-width: 7.4rem;
	min-height: 2.6rem;
	border-radius: 0 0 0 2rem;
	z-index: 11;
}

.signin-capture {
	position: absolute;
	width: 20rem;
	height: 100vh;
	top: 0;
	right: 0;
	background: transparent;
	z-index: 1;
}

.signin-icon-holder {
	position: absolute;
	right: 0.8rem;
	top: 0.3rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: text;
	pointer-events: none;
}

.signin-icon-holder-open {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.signin-icon-holder-closed {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.36s;
}

.signin-icon {
	margin-left: 0.8rem;
	font-size: 110%;
	transform: translate(0, 0.05rem);
}

.signin-box {
	display: block;
	margin-top: 0.3rem;
	margin-right: 0.4rem;
	height: 1.8rem;
	font-size: 120%;
	font-family: var(--titles);
	line-height: 2rem;
	padding: 0 0.3rem;
	border: 0;
	border-bottom: 1px solid transparent;
}

.signin-box-empty {
	border-color: var(--grey);
}

.signin-box-filled {
	border-color: transparent;
}

.signin-box-id {
	color: var(--green);
}

.signin-box-id::placeholder {
	color: var(--pale-green);
}

.signin-box-password {
	color: var(--red);
}

.signin-box-password::placeholder {
	color: var(--pale-red);
}

.signin-at {
	position: absolute;
	top: 0.55rem;
	left: 0rem;
	font-size: 130%;
	font-family: var(--titles);
	font-weight: bold;
	cursor: text;
}

.signin-at-on {
	color: var(--green);
}

.signin-at-off {
	color: var(--pale-green);
}

.signin-at-error {
	color: var(--red);
}

.signin-box-open {
	width: 10rem;
	height: 1.8rem;
	margin-left: 1.4rem;
	margin-bottom: 0.2rem;
	opacity: 1.0;
	transition:
		width 0.2s ease-in-out 0s,
		margin-left 0.2s ease-in-out 0s,
		height 0.2s ease-in-out 0.18s,
		margin-bottom ease-in-out 0.18s,
		opacity 0.1s ease-in-out 0.36s;
}

.signin-box-closed {
	width: 0rem;
	height: 0rem;
	margin-left: 0rem;
	margin-bottom: 0rem;
	opacity: 0.0;
	transition:
		width 0.2s ease-in-out 0.26s,
		margin-left 0.2s ease-in-out 0.26s,
		height 0.2s ease-in-out 0.08s,
		margin-bottom 0.2s ease-in-out 0.08s,
		opacity 0.1s ease-in-out 0s;
}

.signin-box:focus {
	outline: none;
}

.signin-open::placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

.signin-closed::placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.signin-caption {
    display: inline-block;
    color: var(--dark-grey);
    font-family: var(--titles);
}

.signin-label-holder {
	position: absolute;
	left: 0.8rem;
	top: 0.4rem;
	color: var(--dark-grey);
}

.signin-label-holder-open {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.36s;
}

.signin-label-holder-closed {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.signin-loader {
	animation: spin 3s infinite ease-in-out;
}

.signin-error {
	position: absolute;
	bottom: -2.2rem;
	left: 4.2rem;
	font-size: 75%;
	font-family: var(--titles);
	color: var(--red);
}

.signin-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2.2rem;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 2rem 0;
}











@keyframes spin {
	0%, 2% {
		transform: rotate(0deg);
	}
	98%, 100% {
		transform: rotate(1080deg);
	}
}




.register {
	position: absolute;
	top: 0.6rem;
	left: 0.7rem;
	padding: 0.5rem;
	border-radius: 0 0 2rem 0;
	z-index: 11;
}

.register-closed {
	width: 7.4rem;
	height: 2.6rem;
	transition:
		width 0.2s ease-in-out 0.26s,
		height 0.2s ease-in-out 0.08s;
}

.register-open {
	width: 16rem;
	height: 39.2rem;
	transition:
		width 0.2s ease-in-out,
		height 0.2s ease-in-out 0.18s;
}

.register-capture {
	position: absolute;
	width: 20rem;
	height: 100vh;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 1;
}

.register-icon-holder {
	position: absolute;
	left: 0.8rem;
	top: 0.3rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: text;
	pointer-events: none;
}

.register-icon-holder-open {
	opacity: 0.0;
	transition: opacity 0.1s linear;
}

.register-icon-holder-closed {
	opacity: 1.0;
	transition: opacity 0.1s linear 0.18s;
}

.register-icon {
	margin-right: 0.6rem;
}

.register-caption {
	font-family: var(--titles);
}

.register-box {
	display: block;
	width: 14rem;
	margin-bottom: 1.6rem;
	margin-left: 0.4rem;
	margin-right: 0.5rem;
	line-height: 2rem;
	padding: 0;
	border: 0;
}

.register-form {
	position: absolute;
}

.register-form-open {
	opacity: 1.0;
	transition: opacity 0.1s ease-in-out 0.38s;
}

.register-form-closed {
	opacity: 0.0;
	transition: opacity 0.1s ease-in-out 0s;
}

.register-field {
	display: block;
	width: 100%;
	margin-top: 0.7rem;
	height: 1.5rem;
	line-height: 2rem;
	padding: 0 0.3rem;
	border: 0;
	border-bottom: 1px solid transparent;
}

.register-field::placeholder {
	color: var(--grey);
}

.register-field-empty {
	border-color: var(--grey) !important;
}

.register-field-empty:hover {
	border-color: var(--dark-grey) !important;
}

.register-field-filled {
	border-color: transparent;
}

.register-field-filled:hover {
	border-color: var(--green);
}

.register-field-error {
	color: var(--red) !important;
	border-color: var(--red);
}

.register-at {
	position: absolute;
	top: 0.65rem;
	left: 0.6rem;
	font-size: 130%;
	font-family: var(--titles);
	font-weight: bold;
	cursor: text;
}

.register-at-on {
	color: var(--green);
}

.register-at-off {
	color: var(--pale-green);
}

.register-at-error {
	color: var(--red);
}

.register-password {
	color: var(--pale-black);
}

.register-id {
	max-width: 12.8rem;
	margin-left: 1.2rem;
	color: var(--green);
	font-size: 120%;
	font-family: var(--titles);
}

.register-name {
	text-align: center;
	color: var(--green);
	font-size: 150%;
	font-family: var(--titles);
}

.register-id::placeholder, .register-name::placeholder {
	color: var(--pale-green);
}

.register-box-bio {
	margin-bottom: 0.5rem;
}

.register-bio {
	resize: none;
	line-height: 1.3rem !important;
	min-height: 9.9rem;
	border: 1px solid transparent;
	border-radius: 0 0 1.4rem 0;
	padding: 0.4rem 0.5rem !important;
}

.register-image-holder {
	width: 14rem;
	height: 14rem;
}

.register-image {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	cursor: pointer;
	border: 1px solid transparent;
}

.register-image:hover {
	border: 1px solid var(--green);
}

.register-cropper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	width: 13.6rem;
	height: 13.6rem;
	border: 0.2rem solid transparent;
}

.register-crop-message {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 60%;
	color: var(--light-grey);
	font-family: var(--titles);
	pointer-events: none;
}

.register-crop-button {
	position: absolute;
	top: 0.4rem;
	width: 1.4rem;
	height: 1.4rem;
	background: white;
	color: black;
	opacity: 0.5;
	cursor: pointer;
	border-radius: 0.3rem;
	line-height: 1.4rem;
	text-align: center;
}

.register-crop-button:hover {
	opacity: 1;
}

.register-crop-swap {
	left: 0.4rem;
}

.register-crop-cancel {
	right: 0.4rem;
}

.register-crop-icon {
	font-size: 85%;
}

.register-image-holder {
	position: relative;
}

.register-error {
	position: absolute;
	right: 1.6rem;
	color: var(--red);
	line-height: 1.1rem;
	font-size: 65%;
}

.register-loader {
	animation: spin 3s infinite ease-in-out;
}

.register-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 2rem 0;
}






/* LOADING SCREEN */

.loader-box {
	display: flex;
	align-itrems: center;
	width: 100%;
	height: 100vh;
	padding-bottom: 10%;
	transform: scale(0.2);
}

@keyframes spin {
	0%, 2% {
		transform: rotate(0deg);
	}
	98%, 100% {
		transform: rotate(1080deg);
	}
}

@keyframes spinsmooth {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes greenfade {
	0%, 10% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	40%, 100% {
		opacity: 0;
	}
}

@keyframes redfade {
	0%, 60% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90%, 100% {
		opacity: 0;
	}
}

.loader-holder {
	position: relative;
	width: 0;
	margin: auto;
	animation: spinsmooth 1.5s infinite linear;
}

.loader-image {
	position: absolute;
	width: 200px;
	height: 346px;
	transform: translate(-100px, -173px);
}

.loader-grey {
	filter: drop-shadow(0 0 0.5rem #888);
}

.loader-green {
	animation: greenfade 3s infinite linear;
	transform: translate(-100px, -173px) rotate(180deg);
}

.loader-red {
	animation: redfade 3s infinite linear;
	transform: translate(-100px, -173px) rotate(180deg);
}





/* NAVIGATION */

.menu {
	position: fixed;
	display: flex;
	top: 0;
	align-items: center;
	height: 100vh;
	width: 4rem;
}

.menu-left {
	left: -0.1rem;
}

.menu-right {
	right: -0.1rem;
}

.menu-bar {
	position: relative;
	display: block;
	width: 100%;
	background: white;
	white-space: nowrap;
	padding: 0.5rem;
}

.menu-bar-left {
	padding-left: 0;
	border-radius: 0 1.5rem 0 0;
}

.menu-bar-right {
	padding-right: 0;
	border-radius: 1.5rem 0 0 0;
}

.menu-box-top {
	position: relative;
	display: block;
	margin-left: 0;
}

.menu-picture {
	top: 0;
	width: 100%;
	height: auto;
	border: 2px solid var(--dark-grey);
}

.menu-picture-left {
	border-radius: 0 1.2rem 0 0;
	background: var(--dark-grey);
}

.menu-picture-right {
	border-radius: 1.2rem 0 0 0;
	background: white;
}

.menu-picture-off {
	border: 2px solid var(--dark-grey);
}

.menu-picture-on, .menu-picture-active {
	border: 2px solid var(--green);
	background: var(--green);
}

.menu-icon {
	line-height: 3rem;
	font-size: 140%;
}

.menu-icon-active {
	color: var(--green);
}

.menu-box {
	position: relative;
	width: 3.5rem;
	height: 3rem;
	margin: 0;
	font-size: 100%;
	color: var(--dark-grey);
}

.menu-box:not(:first-child) {
	margin-top: 0.2rem;
}

.menu-box-over {
	color: white;
	background: var(--green);
	cursor: pointer;
}

.menu-box-left {
	padding-left: 0.5rem;
}

.menu-box-top-left {
	border-radius: 0 1.2rem 0 0;
}

.menu-box-right {
	padding-right: 0.5rem;
}

.menu-box-top-right {
	border-radius: 1.2rem 0 0 0;
}

.menu-tooltip {
	position: absolute;
	bottom: 0;
}

.menu-tooltip-on {
	opacity: 1;
	transition: 0.3s ease-out;
}

.menu-tooltip-off {
	opacity: 0;
	transition: 0.6s ease;
	visibility: hidden;
}

.menu-tooltip-right {
	right: 4.5rem;
}

.menu-tooltip-left {
	left: 4.5rem;
}

.menu-tooltip-text {
	font-size: 80%;
	margin: 0;
	line-height: 3rem;
	font-family: var(--titles);
	color: var(--green);
}







/* WRITING POSTS */

.feedpage {
	position: relative;
	width: 100%;
}



.newpost-holder {
	position: relative;
}

.newpost {
	display: flex;
	min-height: 2.6rem;
	border-radius: 0 0 1.8rem 0;
	--post-padding: 0.6rem;
	--post-picture-size: 3.6rem;
}

.newpost-capture {
	padding: 1rem;
}

.newpost-input-holder {
	line-height: 1.4rem;
	margin-right: calc(2.2rem + (2 * var(--post-padding)));
	margin-bottom: calc(0.5 * var(--post-padding));
	text-align: left;
	font-family: var(--titles);
	z-index: 2;
}

.newpost-input-holder-open {
	margin-top: 2rem;
	margin-left: calc(var(--post-picture-size) + (1.8 * var(--post-padding)));
	transition:
		margin-top 0.2s ease-in-out 0s,
		margin-left 0.2s ease-in-out 0s;
}

.newpost-input-holder-closed {
	margin-top: calc(0.6 * var(--post-padding));
	margin-left: calc(1.0 * var(--post-padding));
	transition:
		margin-top 0.2s ease-in-out 0.14s,
		margin-left 0.2s ease-in-out 0.14s;
}

.newpost-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.newpost-body-open {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out 0.14s;
}

.newpost-body-closed {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.newpost-input {
	max-height: none;
	line-height: 1.4rem;
	padding: calc(0.5 * var(--post-padding));
	font-weight: 400;
	text-align: justify;
	overflow: auto;
	white-space: pre-wrap;
	outline: 0px solid transparent;
	cursor: text;
}

.newpost-input-open {
	opacity: 1.0;
	min-height: calc((2 * 1.8rem) + 2.2rem + (2.5 * var(--post-padding)) - 2rem);
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0s;
}

.newpost-input-closed {
	opacity: 1.0;
	min-height: 1.4rem;
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0.14s;
}

.newpost-input-sent {
	opacity: 0.0;
	min-height: 1.4rem;
	transition:
		opacity 0.2s ease-in-out 0s,
		min-height 0.2s ease-in-out 0.14s;
}

.newpost-footer {
	height: 1.2rem;
}

.newpost-footer-open {
	opacity: 1.0;
	transition: opacity 0.2s ease-in-out 0.14s;
}

.newpost-footer-closed {
	opacity: 0.0;
	transition: opacity 0.2s ease-in-out 0s;
}

.newpost-validation-holder-open {
	margin-bottom: calc(0.5 * var(--post-padding));
	transition: margin-bottom 0.2s ease-in-out 0s;
}

.newpost-validation-holder-closed {
	margin-bottom: 0;
	transition: margin-bottom 0.2s ease-in-out 0.14s;
}

.newpost-cost-holder {
	position: absolute;
	left: var(--post-padding);
	top: calc((2 * var(--post-padding)) + var(--post-picture-size));
	width: var(--post-picture-size);
}

.newpost-cost {
	display: inline-block;
	font-size: 85%;
	font-weight: bold;
	font-family: var(--titles);
	cursor: default;
}

.newpost-cost-icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-left: 0.2rem;
	margin-bottom: 0.1rem;
}

.newpost-send-button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: var(--post-padding);
}

.newpost-send-button-open {
	margin-bottom: var(--post-padding);
	transition: margin-bottom 0.2s ease-in-out 0s;
}

.newpost-send-button-closed {
	margin-bottom: 0.2rem;
	transition: margin-bottom 0.2s ease-in-out 0.14s;
}

.newpost-send-button-loader {
	animation: spin 2s infinite ease-in-out;
}

.newpost-button-holder {
	position: absolute;
	width: 0;
	top: calc(0.5 * var(--post-padding));
	right: var(--post-padding);
}

.newpost-button {
	float: right;
	margin-top: calc(0.5 * var(--post-padding));
}

.newpost-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 1.8rem 0;
	z-index: 2;
}


/*.post-input-open {
	outline: none;
	min-height: 4.8rem;
	border-radius: 0;
}

.post-input-with-validations {
	border-bottom: 0;
}

.post-validation-box {
	border: 0.11rem solid;
	border-top: 0;
}

.post-input-button {
	display: block;
	float: right;
	margin-top: 0;
	width: 6rem;
	min-width: 0;
	border-radius: 0 0 2.4rem 2.4rem;
	border-top: 0;
	border-color: var(--dark-grey);
	color: var(--dark-grey);
	padding: 0;
	padding-bottom: 0.2rem;
	line-height: 1.4rem;
}

.post-input-cost {
	position: absolute;
	bottom: 3rem;
	margin: 0;
	right: 1.4rem;
	font-size: 80%;
}

.post-input-cost-icon {
	padding-bottom: 0.1rem;
}*/

.post-input-placeholder {
	opacity: 1;
	color: var(--grey);
	font-family: var(--titles);
}

.post-input-line {
	margin: 0;
	line-height: 1.35rem;
}

.post-input-text {
	display: inline-block;
}

.post-input-itrem {
	padding-bottom: 0.2rem;
}

.post-input-mention {
	color: var(--green);
}

.post-input-topic {
	color: var(--tan);
}

.post-input-link {
	color: var(--blue);
}

.post-input-border-pending {
	border-color: var(--dark-grey);
}

.post-input-border-failed {
	border-color: var(--red);
}

.post-input-border-passed {
	border-color: var(--green);
}

.post-input-button-pending {
	border-color: var(--dark-grey);
	color: var(--dark-grey);
}

.post-input-button-failed {
	border-color: var(--red);
	color: var(--red);
	text-decoration: line-through;
}

.post-input-button-passed {
	border-color: var(--green);
	color: var(--green);
}

.post-input-button-pending:hover {
	background: var(--dark-grey);
	color: white;
	cursor: wait;
}

.post-input-button-failed:hover {
	background: var(--red);
	color: white;
	cursor: not-allowed;
}

.post-input-button-passed:hover {
	background: var(--green);
	color: white;
}

.post-input-loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	border-radius: 0 0 1.8rem 0;
}

.post-reference-fail {
	color: var(--red);
	text-decoration: line-through;
}

.post-validation-hide {
	border: 0;
}

.send-col {
	position: relative;
}



/* WRITING POSTS - TOKEN BALANCES */

/*.input-support {
	position: absolute;
	display: block;
	top: 0.5rem;
	width: 8rem;
	height: 5rem;
	padding: 0.5rem;
}

.balance-card {
	left: -8.8rem;
}

.balance-panel {
	position: relative;
}

.balance-title {
	float: left;
	width: 2.6rem;
	margin: 0;
	font-family: var(--titles);
	color: white;
	cursor: default;
}

.pod-title {
	background: var(--green);
	border-radius: 0 0 1rem 0;
}

.aud-title {
	background: var(--purple);
	border-radius: 0 1rem 0 0;
}

.balance-title-text {
	font-size: 80%;
}

.balance-number {
	width: 3.8rem;
	text-align: center;
	font-family: var(--titles);
	font-weight: normal;
	margin: 0;
	margin-left: 2.6rem;
	line-height: 2rem;
}

.balance-number-text {
	font-size: 80%;
}

.pay-button-panel {
	position: absolute;
	height: 2rem;
	right: 0;
	top: 0;
}

.pay-button {
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    cursor: pointer;
    border: 0.1rem solid transparent;
}

.pay-button:hover {
	background: var(--grey);
}

.pay-button-icon {
    font-size: 60%;
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
    text-align: center;
}

.pay-button-pod, .pay-button-audpod {
	top: 0;
}

.pay-button-podaud, .pay-button-aud {
	bottom: 0;
}

.pay-icon-pod {
	color: var(--green);
}

.pay-icon-aud {
	color: var(--purple);
}

.pay-icon-left {
	text-align: left;
}

.pay-icon-right {
	text-align: right;
}

.balance-highlight {
	position: absolute;
	top: 5.1rem;
	left: 0;
	right: 0;
	font-family: var(--titles);
	width: 100%;
	text-align: center;
	white-space: nowrap;
}

.highlight-text {
	font-size: 70%;
	margin: 0;
}

.pod-text {
	color: var(--pale-green);
}

.aud-text {
	color: var(--pale-purple);
}*/


/* WRITING POSTS - MEDIA */

/*.insert-card {
	right: -8.8rem;
}

.insert-holder {
	position: relative;
}

.insert-panel {
	position: absolute;
	display: block;
	width: 2rem;
	height: 4rem;
	z-index: 2;
}

.insert-column-1 {
	left: 0rem;
}

.insert-column-2 {
	left: 2rem;
}

.insert-column-3 {
	left: 4.45rem;
	border-left: 0.1rem solid var(--grey);
	padding-left: 0.45rem;
}

.insert-button {
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: pointer;
}

.insert-button:hover {
	background: var(--dark-grey);
	color: white;
}

.insert-button-icon {
	font-size: 110%;
	line-height: 1.9rem;
}

.insert-highlight {
	position: absolute;
	top: 4.6rem;
	left: 0;
	right: 0;
	font-family: var(--titles);
	width: 100%;
	text-align: center;
	color: var(--dark-grey);
}*/





/* WRITING POSTS - VALIDATION NOTIFICATIONS */

.validator {
	position: relative;
	height: 1.8rem;
	margin-bottom: 0.2rem;
	background: transparent;
}

.validator-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
}

.validator-left {
	position: relative;
	display: block;
	float: left;
}

.validator-title {
	display: inline-block;
	float: left;
	height: 1.8rem;
	width: 1.8rem;
}

.validator-glyph-holder {
	width: 100%;
	line-height: 1.9rem;
	text-align: center;
	color: white;
}

.validator-message-holder {
	display: inline-block;
	float: left;
	line-height: 1.85rem;
}

.validator-message {
	font-size: 80%;
	font-weight: 400;
	text-align: left;
	padding-left: 0.6rem;
	line-height: 1.8rem;
	cursor: default;
}

.validator-subject {
	font-weight: bold;
}

.validator-right {
	position: relative;
	display: block;
	float: right;
}

.validator-icon-holder {
	display: inline-block;
	float: right;
	height: 1.8rem;
	width: 1.8rem;
	margin-right: 0.2rem;
}

.validator-icon {
	width: 100%;
	line-height: 2rem;
	text-align: center;
	font-size: 90%;
}

.validator-pending {
	animation: spin 3s infinite ease-in-out;
}





/* FEED - PENDING POSTS BOX */

.pending-posts {
	height: 2rem;
	margin-top: 1.3rem;
	margin-left: 5rem;
	margin-right: 5rem;
	background: white;
	border-radius: 1rem 1rem;
	font-family: var(--titles);
	color: var(--green);
	line-height: 2rem;
	cursor: pointer;
}

.pending-posts:hover {
	background: var(--pale-green);
	color: white;
}



/* FEED - THREADS */

.thread-holder {
	margin-top: 1rem;
}

.thread-card {
	border-radius: 2.1rem 0 0 0;
}



/* FEED - POSTS */

.post {
	position: relative;
	width: 100%;
	min-height: 7rem;
	max-width: 38rem;
	margin: auto;
	margin-top: 0.8rem;
	cursor: pointer;
	--post-padding: 0.6rem;
	--post-picture-size: 3.6rem;
}

.post:hover {
	background: var(--palest-green);
}

.post-header-picture-holder {
	position: absolute;
	top: var(--post-padding);
	left: var(--post-padding);
	height: var(--post-picture-size);
	width: var(--post-picture-size);
}

.post-header-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.post-title-holder {
	position: absolute;
	top: var(--post-padding);
	left: calc(var(--post-picture-size) + (2 * var(--post-padding)));
	cursor: default;
}

.post-title-holder:hover {
	text-decoration: underline;
}

.post-title-name {
	display: inline-block;
	font-family: var(--titles);
	color: var(--green);
	font-weight: bold;
	font-size: 110%;
}

.post-title-id {
	display: inline-block;
	font-family: var(--titles);
	color: var(--dark-grey);
	font-size: 80%;
	margin: 0 0.6rem;
}

.post-core {
	position: absolute;
	top: 2.2rem;
	left: calc(var(--post-picture-size) + (2.5 * var(--post-padding)));
	right: var(--post-padding);
	min-height: 6rem;
}

.post-content {
	display: block;
	text-align: justify;
	font-size: 95%;
	font-family: var(--titles);
}


/*.post {
	position: relative;
	margin-top: 3%;
}

.post-core {
	position: relative;
	display: block;
	min-height: 8rem;
	padding-top: 0.1rem;
	border-bottom: 0.1rem solid var(--grey);
}

.post-core:last-of-type {
	border-bottom: 0;
}

.post-body {
	cursor: pointer;
}

.post-column-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 5rem;
	height: auto;
}

.post-column-2 {
	margin-left: 4.9rem;
	margin-top: 0.3rem;
	margin-right: 4.5rem;
	display: block;
	overflow: auto;
}

.post-column-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 4.5rem;
	height: auto;
}

.post-user-picture {
	display: block;
	width: 3.8rem;
	height: 3.8rem;
	margin: 0.5rem;
	margin-left: 0.55rem;
	margin-bottom: 0.3rem;
	background: var(--grey);
}

.post-core:first-of-type > .post-body > .post-user > .post-user-picture {
	border-radius: 1.7rem 0 0 0;
}

.post-user-info-holder {
	width: 3.8rem;
    margin-bottom: 0.3rem;
    margin-left: 0.55rem;
    height: 1.3rem;
    background: var(--pale-red);
    line-height: 1.5rem;
    border-radius: 0.2rem;
}

.post-user-info-size {
	position: absolute;
    height: 1.3rem;
    background: var(--green);
    border-radius: 0.2rem 0 0 0.2rem;
}

.post-user-info {
	position: absolute;
	width: 4.8rem;
	font-size: 80%;
	font-family: var(--titles);
	color: white;
}

.post-icon {
	transform: translate(0,-0.1rem);
}

.post-user-title {
	line-height: 1.6rem;
}

.post-user-name {
	display: inline-block;
	float: left;
	color: var(--green);
	font-family: var(--titles);
	font-size: 100%;
	margin: 0;
}

.post-user-id {
	display: inline-block;
	float: left;
	font-family: var(--titles);
	color: var(--pale-red);
	margin: 0;
	margin-left: 0.6rem;
	font-size: 80%;
}

.post-timestamp {
	display: inline-block;
	float: left;
	font-family: var(--titles);
	color: var(--dark-grey);
	margin: 0;
	margin-left: 0.4rem;
	font-size: 80%;
	font-weight: normal;
}

.post-content {
	display: block;
	clear: both;
	min-height: 5.2rem;
	text-align: justify;
	margin: 0;
	padding: 0.2rem 0.4rem 0.4rem 0.3rem;
	font-weight: normal;
	overflow: auto;
}

.post-line {
	margin: 0;
	line-height: 1.4rem;
}

.post-mention {
	color: var(--green);
	cursor: pointer;
}

.post-mention:hover {
	text-decoration: underline;
}

.post-topic {
	color: var(--tan);
	cursor: pointer;
}

.post-topic:hover {
	text-decoration: underline;
}

.post-topic > a {
	color: var(--blue);
	cursor: pointer;
	text-decoration: none;
}

.post-topic > a:hover {
	text-decoration: underline;
}*/


/* FEED - POSTS - ACTION BUTTONS */

/*.post-buttons-left {
	display: block;
	float: left;
}

.post-buttons-right {
	display: block;
	float: right;
	margin-right: 0.5rem;
}

.post-button {
	position: relative;
	width: 2rem;
	height: 2rem;
	color: var(--grey);
	margin: 0.5rem 0;
	line-height: 2rem;
	cursor: pointer;
}

.post-button:hover {
	color: white;
}

.post-button-promote:hover {
	background: var(--pale-green);
}

.post-button-promoteself:hover {
	background: var(--pale-purple);
}

.post-button-report:hover {
	background: var(--pale-red);
}

.post-button-retract:hover {
	background: var(--pale-red);
}

.post-button-reply:hover { 
	background: var(--dark-grey);
	border: 0;
}

.post-button-reply-on {
	color: var(--dark-grey);
	border: 0.1rem solid var(--dark-grey);
}

.post-button-reply-on:hover {
	color: white;
	background: var(--grey);
	border: 0.1rem solid var(--grey);
}

.post-button-text {
    font-family: var(--titles);
    font-size: 70%;
    line-height: 3.1rem;
    text-align: center;
}

.post-button-caption-holder {
	position: absolute;
	display: inline-block;
	top: 0;
	line-height: 1.7rem;
}

.post-buttons-left > .post-button > .post-button-caption-holder {
	left: 5.2rem;
}

.post-buttons-right > .post-button > .post-button-caption-holder {
	left: 3.2rem;
}

.post-button-caption {
	font-family: var(--titles);
	font-size: 80%;
	white-space: nowrap;
}

.post-button-caption-promote {
	color: var(--green);
}

.post-button-caption-promoteself {
	color: var(--purple);
}

.post-button-caption-report {
	color: var(--red);
}

.post-button-caption-retract {
	color: var(--red);
}

.post-button-caption-reply {
	color: var(--pale-black);
}

.post-button-caption-on {
	opacity: 1;
}

.post-button-caption-off {
	opacity: 0;
	visibility: hidden;
}

.post-reply {
    padding: 0.5rem;
    padding-top: 0.35rem;
    padding-bottom: 2.3rem;
}*/



/* POST - REFERENCES */

/*.post-usercard {
	position: absolute;
	width: 14rem;
	top: 0;
	left: -14rem;
}*/



/* POST - LOADING */

/*.post-sending {
	position: relative;
	display: block;
	height: 2.5rem;
	background: var(--pale-green);
	border-top: 0.1rem solid var(--grey);
	color: white;
}

.post-spinner-holder {
	position: absolute;
	right: 0.2rem;
}

.post-spinner {
	animation: spin 3s infinite ease-in-out;
}*/



/* POST - REACTIONS */

/*.post-reaction {
	position: absolute;
	right: -3.3rem;
	z-index: 1;
}

.reaction-button {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

.react-support {
	margin-top: 1.2rem;
	color: var(--green);
	border-radius: 0 0.8rem 0 0;
}

.react-oppose {
	margin-top: 0.7rem;
	color: var(--red);
	border-radius: 0 0 0.8rem 0;
}

.react-support:hover {
	background: var(--pale-green);
	color: white;
}

.react-oppose:hover {
	background: var(--pale-red);
	color: white;
}

.reaction-icon-holder {
	line-height: 2.5rem;
}

.reaction-icon {
	font-size: 140%;
	text-align: center;
}*/




/* PROFILE - CARD */

.profile {
	width: 100%;
}

.profilecard {
	width: 100%;
	min-height: 18rem;
	padding: 1rem;
	margin-top: 1.2rem;
	cursor: pointer;
}

.profilecard:hover {
	background: var(--palest-green);
}

.profilecard-left {
	border-radius: 0 4.3rem 0 0;
}

.profilecard-right {
	border-radius: 4.3rem 0 0 0;
}

.profilecard-top {
	height: 10rem;
	margin-bottom: 1rem;
}

.profilecard-picture-holder {
	width: 10rem;
	height: 10rem;
	background: var(--grey);
}

.profilecard-picture {
	width: 100%;
	height: auto;
	border: 2px solid var(--grey);
}

.profilecard-picture-holder-left {
	float: right;
	border-radius: 0 3.5rem 0 0;
}

.profilecard-picture-left {
	border-radius: 0 3.5rem 0 0;
}

.profilecard-picture-holder-right {
	border-radius: 3.5rem 0 0 0;
	float: left;
}

.profilecard-picture-right {
	border-radius: 3.5rem 0 0 0;
}

.profilecard-picture-loading-box {
	color: white;
	margin-top: 3.5rem;
}

.profilecard-picture-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	font-size: 3rem;
}

.profilecard-gauges {
	position: absolute;
	width: 3rem;
	padding-top: 0.5rem;
}

.profilecard-gauges-left {
	right: 11.8rem;
}

.profilecard-gauges-right {
	left: 11.8rem;
}

.profilecard-gauge-holder {
	margin-top: 1rem;
}

.profilecard-name-holder {
	width: 100%;
}

.profilecard-name {
	margin: 0;
	font-family: var(--titles);
	text-align: left;
	font-weight: bold;
	color: var(--green);
}

.profilecard-name-text {
	font-size: 166%;
	line-height: 1.8rem;
}

.profilecard-id {
	color: var(--dark-grey);
	text-align: left;
	margin-left: 0.1rem;
}

.profilecard-id-text {
	font-size: 80%;
}

.profilecard-bio-holder {
	width: 100%;
	padding: 0.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0;
}

.profilecard-bio {
	font-family: var(--text);
	text-align: justify;
	line-height: 1.4rem;
}

.profilecard-buttons {
	position: absolute;
	top: 0.6rem;
	width: 2rem;
}

.profilecard-buttons-left {
	left: 0.8rem;
}

.profilecard-buttons-right {
	right: 0.8rem;
}





/* PROFILE - PAGE */

.profile-header {
	height: 13.6rem;
	margin-top: 2rem;
	border-radius: 0 0 2.6rem 0;
}

.profile-picture-holder {
	position: absolute;
	top: 0.8rem;
	bottom: 0.8rem;
	right: 3.2rem;
	width: 12rem;
	height: 12rem;
	background: var(--grey);
}

.profile-picture-holder-side {
	right: 1rem;
	border-radius: 0 0 2rem 0;
}

.profile-picture {
	width: 100%;
	height: auto;
	border: 2px solid var(--grey);
}

.profile-picture-side {
	border-radius: 0 0 2rem 0;
}

.profile-picture-loading-box {
	color: white;
	margin-top: 4rem;
}

.profile-picture-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	font-size: 4rem;
}

.profile-name-holder {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.profile-name {
	margin: 0;
	display: inline-block;
	font-size: 180%;
	font-family: var(--titles);
	font-weight: bold;
	color: var(--green);
	cursor: default;
}

.profile-id-holder {
	position: absolute;
	left: 1.1rem;
	top: 2.5rem;
}

.profile-id {
	margin: 0;
	display: block;
	font-size: 80%;
	color: var(--dark-grey);
	text-align: left;
	line-height: 2rem;
	font-weight: normal;
	cursor: default;
}

.profile-bio-holder {
	position: absolute;
	left: 0.8rem;
	right: 16rem;
	top: 4.4rem;
	bottom: 4rem;
	padding: 0 0.2rem;
	line-height: 1.4rem;
	border: 0.1rem solid transparent;
}

.profile-bio {
	text-align: justify;
	font-weight: 400;
	cursor: default;
}

.profile-address-holder {
	position: absolute;
	left: 1.2rem;
	bottom: 3.2rem;
	cursor: pointer;
}

.profile-address {
	font-size: 60%;
	color: var(--dark-grey);
}

.profile-stat-holder {
	position: absolute;
	left: 1rem;
	bottom: 0.8rem;
}

.profile-stat-box {
	display: inline-block;
	width: 4rem;
	height: 1.9rem;
	margin-right: 0.8rem;
	font-family: var(--titles);
	border: 0.1rem solid white;
}

.profile-stat-box-on {
	background: var(--dark-grey);
	border-color: var(--dark-grey);
	color: white;
	cursor: default;
}

.profile-stat-box-off {
	background: transparent;
	color: var(--dark-grey);
	cursor: pointer;
}

.profile-stat-box-off:hover {
	border-color: var(--dark-grey);
}

.profile-stat-icon {
	margin-right: 0.5rem;
}

.profile-stat {
	margin: 0;
	line-height: 1.9rem;
}

.profile-stat-text {
	display: inline-block;
	font-size: 80%;
	font-weight: 700;
	transform: translate(0, -0.1rem);
}

.profile-stat-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	opacity: 0.5;
}

.profile-gauge-holder {
	position: absolute;
	right: 15.2rem;
	bottom: 0.1rem;
}

.profile-gauge {
	display: inline-block;
	margin-right: 0.8rem;
}

.profile-button-holder {
	position: absolute;
	top: 0.3rem;
	right: 0.6rem;
	width: 2rem;
}

.profile-button {
	display: inline-block;
	float: left;
	margin-top: 0.5rem;
}

.profile-filter {
	margin: auto;
	margin-top: 1.4rem;
	border-radius: 1rem;
	height: 2rem;
	width: 32.6rem;
}

.profile-filter-title {
	display: inline-block;
	float: left;
	width: 2.3rem;
	height: 2rem;
	background: var(--green);
	color: white;
	border-radius: 1rem 0 0 1rem;
	line-height: 2.1rem;
	padding-left: 0.2rem;
}

.profile-filter-button {
	display: inline-block;
	float: left;
	width: 2.4rem;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-grey);
	cursor: pointer;
}

.profile-filter-button:hover {
	color: var(--green);
}

.profile-filter-label {
	display: inline-block;
	float: left;
	height: 2rem;
	width: 8rem;
	line-height: 2rem;
	border-left: 0.1rem solid var(--dark-grey);
	margin-left: 0.4rem;
	cursor: default;
}

.profile-filter-text {
	color: var(--green);
	font-size: 90%;
	font-family: var(--titles);
}




/* PROFILE FEED */

.profile-feed {
	padding: 2rem;
	padding-top: 0.4rem;
}

.profile-feed-left {
	display: block;
	width: 50%;
	float: left;
	padding-right: 0.6rem;
	padding-left: 1rem;
}

.profile-feed-right {
	display: block;
	width: 50%;
	float: right;
	padding-left: 0.6rem;
	padding-right: 1rem;
}

.profile-feed-header {
	margin-top: 1.2rem;
	height: 3.2rem;
}

.profile-feed-title {
	color: var(--green);
	line-height: 3.2rem;
	font-family: var(--titles);
	font-weight: bold;
}

.profile-feed-title-text {
	font-size: 120%;
	cursor: default;
}

.profile-feed-title-icon {
	margin-right: 0.5rem;
	font-size: 160%;
	transform: translate(0,0.1rem);
}

.profile-feed-title-loader {
	margin: 0;
	padding: 0;
	animation: spin 2s infinite ease-in-out;
	opacity: 0.5;
}



/* SEARCH */

.search-container {
	position: fixed;
	top: 0;
	right: 0;
}

.search-loader {
	animation: spin 2s infinite ease-in-out;
}

.search-capture {
	width: 20rem;
	height: 15rem;
	z-index: 1;
}

.search-box {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.search-input-holder {
	position: relative;
	display: inline-block;
	float: right;
	height: 1.8rem;
	margin-top: 0.9rem;
	margin-right: 1.4rem;
	border-radius: 0 0 0 1rem;
}

.search-input-on {
	width: 17rem;
	transition: width 0.3s ease-out;
}

.search-input-off {
	width: 0rem;
	transition: width 0.3s ease-in;
}

.search-input {
	position: absolute;
	left: 0.8rem;
	top: 0.35rem;
	width: 82%;
	padding: 0;
	border: 0;
	font-size: 85%;
	line-height: 100%;
}

.search-input::placeholder {
	color: var(--grey);
}

.search-button {
	position: absolute;
	right: 0.8rem;
	top: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.2rem;
	cursor: pointer;
}

.search-button-off {
	background: white;
	color: var(--dark-grey);
	transition: 0.3s;
}

.search-button-on {
	background: var(--green);
	color: white;
	transition: 0.3s;
}

.search-button:hover {
	color: var(--green);
	background: white;
}


.search-clear {
	position: absolute;
	left: -1.3rem;
	top: 0.5rem;
	color: var(--pale-black);
	cursor: pointer;
}

.search-clear:hover {
	color: var(--red);
}

.search-clear-icon {
	font-size: 80%;
}




.quicksearch-results {
	position: absolute;
	right: 2.4rem;
	top: 3.3rem;
	width: 15rem;
}

.quicksearch-footer {
	display: block;
	height: 1.5rem;
	width: 100%;
	margin-top: 0.4rem;
	cursor: pointer;
}

.quicksearch-footer:hover {
	background: var(--palest-green);
}

.quicksearch-footer-text {
	color: var(--pale-black);
	font-family: var(--titles);
	font-size: 80%;
	line-height: 1.6rem;
}



.searchpage {
	width: 100%;
}

.searchpage-box {
	width: 30rem;
	margin: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	border-radius: 0 0 1.8rem 0;
}

.searchpage-input {
	display: inline-block;
	border: 0;
	width: 27rem;
	margin: 0;
	padding: 1.2rem 0.8rem;
	height: 1.4rem;
	font-family: var(--titles);
}

.searchpage-input::placeholder {
	color: var(--grey);
}

.searchpage-button {
	display: inline-block;
	width: 2.3rem;
	height: 2rem;
	margin: 0.3rem;
	margin-right: 0.4rem;
	color: var(--grey);
	border-radius: 0 0 1.5rem;
	padding-right: 0.3rem;
	line-height: 1.9rem;
	cursor: pointer;
}

.searchpage-button:hover {
	color: white;
	background: var(--grey);
}



/* ALERTS */

.alerts-container {
	position: fixed;
	top: 0;
	left: 0;
}

.alerts-capture {
	width: 20rem;
	height: 15rem;
	z-index: 1;
}

.alerts-box {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.alerts-button {
	position: absolute;
	left: 0.8rem;
	top: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 1.1rem;
	line-height: 2.2rem;
	cursor: pointer;
}

.alerts-button-off {
	background: white;
	color: var(--dark-grey);
	transition: 0.3s;
}

.alerts-button-on {
	background: var(--red);
	color: white;
	transition: 0.3s;
}

.alerts-button:hover {
	color: var(--red);
	background: white;
}

.alerts-caption {
	position: absolute;
	right: -1rem;
	top: 0;
	color: var(--red);
}

.alerts-caption-text {
	font-family: var(--titles);
	line-height: 2.3rem;
}


.alerts-live {
	position: absolute;
	left: 2.4rem;
	top: 3.3rem;
	width: 15rem;
}


.alerttab {
	position: relative;
	height: 3.3rem;
	width: 100%;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.alerttab:hover {
	background: var(--palest-green);
}

.alerttab-picture-holder {
	position: absolute;
	left: 0.25rem;
	top: 0.25rem;
	width: 2.85rem;
	height: 2.85rem;
	background: var(--grey);
}

.alerttab-picture {
	width: 100%;
	height: auto;
	border: 2px solid var(--grey);
}

.alerttab-content-holder {
	position: absolute;
	left: 3.4rem;
	text-align: left;
	padding-top: 0.6rem;
}

.alerttab-time {
	font-family: var(--titles);
	color: var(--dark-grey);
	font-size: 60%;
}

.alerttab-text {
	font-family: var(--titles);
	color: var(--pale-black);
	font-size: 85%;
}




.profiletab {
	position: relative;
	height: 3.4rem;
	width: 100%;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.profiletab-loaded:hover {
	background: var(--palest-green);
}

.profiletab-picture-loading-box {
	margin-top: 0.5rem;
}

.profiletab-picture-loader {
	color: white;
	animation: spin 2s infinite ease-in-out;
}

.profiletab-picture-holder {
	display: block;
	float: left;
	width: 3rem;
	height: 3rem;
	margin-left: 1.8rem;
	margin-top: 0.2rem;
	background: var(--grey);
}

.profiletab-picture {
	width: 100%;
	height: auto;
	border: 1px solid var(--grey);
}

.profiletab-name {
	position: absolute;
	left: 5rem;
	top: 0.6rem;
	max-width: 9.5rem;
	line-height: 1.4rem;
	color: var(--green);
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	font-family: var(--titles);
}

.profiletab-name-text {
	font-size: 85%;
}

.profiletab-id {
	position: absolute;
	left: 5rem;
	top: 1.6rem;
	line-height: 1.2rem;
	color: var(--dark-grey);
	font-weight: normal;
}

.profiletab-id-text {
	font-size: 70%;
}

.profiletab-buttons {
	position: absolute;
	left: 0.2rem;
	width: 1.3rem;
}

.profiletab-button {
	margin-top: 0.2rem;
}



/* TASK NOTIFICATIONS */

.tasks {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.task-card {
	height: 2rem;
	width: 15rem;
	margin-top: 0.5rem;
	font-size: 110%;
}

.task-in {
	transition: transform 0.3s ease-out;
	transform: translate(0, 0);
}

.task-out {
	transform: translate(-17rem, 0);
	transition: transform 0.5s ease-in;
	transition-delay: 1s;
}

.task-title-holder {
	position: absolute;
	left: 0.5rem;
}

.task-title {
	font-size: 80%;
	text-align: left;
	font-family: var(--titles);
}

.task-progress-holder {
	position: absolute;
	right: 0.4rem;
}

.task-progress {
	font-size: 80%;
	text-align: right;
	font-weight: bold;
	font-family: var(--titles);
	color: var(--grey);
}

.task-done {
	color: var(--green);
	font-size: 110%;
}

.task-progbar {
	position: absolute;
	height: 0.2rem;
	bottom: 0.2rem;
	border: 0.12rem solid transparent;
	border-radius: 0.12rem;
	margin-left: 1%;
	max-width: 98%;
}

.task-progbar-in {
	background: var(--green);
	transition: width 0.05s;
}

.task-progbar-out {
	width: 99%;
	background: var(--pale-red);
}

.task-spinner {
	color: var(--grey);
	margin-left: 0.3rem;
	margin-bottom: 0.2rem;
	font-size: 1rem;
	top: 0.2rem;
	padding: 0;
	animation: spin 3s infinite ease-in-out;
	transform-origin: 50% 51%;
}



/* POPUPS */

.popup-holder {
	position: fixed;
	top: 0;
	left: 0;
}

.popup-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.65);
}

.popup {
	position: fixed;
	top: 30%;
	left: 40%;
	right: 40%;
	width: 20%;
	padding: 1rem;
}

.popup-button {
	display: inline-block;
	min-width: 0;
	margin: 0.5rem 0.6rem 0.3rem;
    width: 40%;
}





/* BUTTONS */

.button {
	position: relative;
	display: block;
/*	width: 1.8rem;
	height: 1.8rem;
	line-height: 1.8rem;*/
	border: 1px solid transparent;
	transition:
		color 0.2s ease-in-out,
		background 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
	cursor: pointer;
}

.button-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	font-family: var(--titles);
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
}

.button-caption-on {
	opacity: 1;
}

.button-caption-off {
	opacity: 0;
}

.button-caption-text {
	position: absolute;
	line-height: 1.5rem;
	font-size: 80%;
}

.button-loader {
	animation: spin 2s infinite ease-in-out;
}

.button .fa-reply {
	transform: translate(0, -0.1rem);
}



/* GAUGES */

.gauge {
	position: relative;
	display: block;
}

.gauge-holder {
	position: relative;
	display: block;
	width: 3rem;
	height: 3rem;
	clip-path: circle(1.45rem at center);
	overflow: hidden;
	cursor: default;
}

.gauge-under {
	position: absolute;
	background: var(--red);
	width: 3rem;
	height: 3rem;
}

.gauge-over {
	position: absolute;
	background: var(--green);
	width: 3rem;
	bottom: 0;
}

.gauge-label {
	position: absolute;
	width: 3rem;
	line-height: 3rem;
	color: white;
}

.gauge-label-text {
	font-family: var(--titles);
	line-height: 3.8rem;
	font-size: 80%;
}

.gauge-icon {
	font-size: 110%;
}

.gauge-caption {
	position: absolute;
	height: 1rem;
	color: var(--dark-grey);
	width: 3rem;
}

.gauge-caption-top {
	top: -0.85rem;
}

.gauge-caption-bottom {
	bottom: -1.1rem;
}

.gauge-caption-text {
	line-height: 1rem;
	font-size: 70%;
	text-align: center;
	font-weight: bold;
	font-family: var(--titles);
}





/* PLACEHOLDER */

.placeholder-card {
	width: 35%;
	margin: auto;
	margin-top: 4rem;
	padding: 1.2rem;
}

.placeholder-notice {
	font-family: var(--titles);
	color: var(--red);
	margin: 0;
	font-size: 80%;
	transform: translate(0, 2rem);
	cursor: default;
}

.placeholder-title-holder {
	font-family: var(--titles);
	color: var(--green);
}

.placeholder-title-text {
	font-size: 200%;
	margin: 0;
	margin-top: 0.5rem;
	cursor: default;
}

.placeholder-icon-holder {
	color: var(--red);
	font-size: 500%;
	margin: 0.3rem;
}

.placeholder-text-holder {
	max-height: 8.7rem;
	overflow: scroll;
}

.placeholder-text {
	margin: 1rem;
	padding: 0;
	color: var(--pale-black);
	line-height: 1.2rem;
	font-size: 90%;
}



/* ANIMATIONS */

.slider {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.slider-children {
	position: relative;
	width: auto;
	height: auto;
	pointer-events: auto;
}






